<div class="members">
<ul style="list-style: none; margin: 0; padding: 0;">
  <%
  var firstLetter = '';
   _.each(users, function(user) { 
    if(user.get('login').substr(0,1) !== firstLetter) {
        firstLetter =  user.get('login').substr(0,1);

    %>
    <li class="title"><h3><%= firstLetter.toUpperCase() %></h3></li>
    <%

    }
    %>
    <li class="member" ><a href="<%= user.get('login') %>"><div class="members-avatar"><img  src="http://www.gravatar.com/avatar/<%= user.get('gravatar') %>?d=identicon" /></div></a><a class="member-link" href="<%= user.get('login') %>"><%= user.get('login') %></a></li>
  <%

   }); %>
</ul>
</div>
<!--
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>
    </ul>
</div>
-->