/*

# API's

Some styles for API's

## API List

```
<ul class="api-list">
  <li class="api-list-item">
    <img class="api-list-pic" src="http://www.gravatar.com/avatar/31ee0210738731b5751582f23244a19b?d=identicon&s=92" />
    <div class="api-list-info">
      <h4 class="api-list-title fixie"></h4>
      <ul class="profile-links">
        <li><span class="icon">a</span><a href="somewhere">Harry Wilson</a></span></li>
        <li><span class="icon">c</span><a href="somewhere">4 collaborators</a></span></li>
      </ul>
    <div style="clear: both;"></div>
      <p class="api-list-desc fixie"></p>
    </div>
    <div class="api-list-buttons"><button class="btn triangle-border right">19</button>
      <button class="btn btn-regular">FOLLOWERS</button>
    </div>
    <div style="clear: both;"></div>
  </li>
  <li class="api-list-item">
    <img class="api-list-pic" src="http://www.gravatar.com/avatar/31ee0210738731b5751582f23244a19b?d=identicon&s=92" />
    <div class="api-list-info">
      <h4 class="api-list-title fixie"></h4>
      <p class="api-list-desc fixie"></p>
    </div>
    <div class="api-list-buttons">
      <button class="btn triangle-border right">19</button>
      <button class="btn btn-regular">FOLLOWERS</button>
    </div>
    <div style="clear: both;"></div>
  </li>
</ul>
```

*/
.profile-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 5px;
  height: 20px;
}
.profile-links li { 
  float: left;
  margin-right: 15px;
}
.profile-links .icon {
  font-size: 18px;
}
.profile-links a {
  font-size: 12px;
  text-decoration: none;
  color: #39f;
  margin-left: 5px;
}
.api-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.api-list li.api-list-item.single {
  border-bottom: none;
}
.api-list li.api-list-item {
  padding: 30px 15px 30px 15px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.api-list-pic {
  padding: 3px;
  border: 1px solid #ccc;
  float: left;
}
.api-list-info {
  float: left;
  width: 620px;
  margin-left: 15px;
  color: #6c6d6f;
}
.api-list-title {
  margin: 4px 0 5px 0;
  font-size: 20px;
  line-height: 18px;
  color: #171717;
  font-weight: normal;
}
.api-list-desc {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  line-height: 18px;
}
.api-list-buttons {
  float: right;
}
.api-list-buttons .btn-share {
  float: right;
  margin-top: 15px;
}
.no-more {
  text-align: center;
  padding-top: 15px;
  color: #ccc;
}

/*
  ## Featured

```
  <h2 class="featured-heading">FEATURED API</h2>
```
*/
.featured-heading {
  font-size: 26px;
  font-family: 'Nexa';
  border-bottom: 1px solid #ccc;
}