/*
# Backgrounds

## Home page example
This is how homepage is layered

```
<div class="wrapper">
  <div class="background dark-grey"></div>
  <div class="background yellow"></div>
  <div class="background grey"></div>
  <div class="background blue"></div>
  <div class="background grey"></div>
  <div class="background red"></div>
  <div class="background grey"></div>
</div>

```

## Random Backgrounds
Here is just a random test
```
<div class="wrapper">
  <div class="background yellow"></div>
  <div class="background dark-grey"></div>
  <div class="background yellow"></div>
  <div class="background white"></div>
  <div class="background blue"></div>
  <div class="background red"></div>
  <div class="background yellow"></div>
  <div class="background grey"></div>
  <div class="background dark-grey"></div>
  <div class="background blue"></div>
  <div class="background red"></div>
  <div class="background grey"></div>
  <div class="background red"></div>
  <div class="background grey"></div>
</div>

```

*/
body.white {
  background: #fff;
}
body.grey {
  background: #485259;
}

.background {
  min-height: 20px;
  position: relative;
}
.background:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  top: -2px;
  z-index: 2;
}

.background.white {
  background: #fff;
}
.background.white:before {
  background: url('../img/backgrounds/scollop-white-with-shadow.png?embed');
}
.background.dark-grey {
  background: #171717;
}
.background.dark-grey:before {
  background: url('../img/backgrounds/scollop-dark-grey.png?embed');
}
.background.yellow {
  background: #fed563;
}
.background.yellow:before {
  background: url('../img/backgrounds/scollop-yellow.png?embed');
}
.background.blue {
  background: #019ff3;
}
.background.blue:before {
  background: url('../img/backgrounds/scollop-blue.png?embed');
}
.background.grey {
  background: #485259;
}
.background.grey:before {
  background: url('../img/backgrounds/scollop-grey.png?embed');
}
.background.light-grey {
  background: #f7f7f7;
}
.background.light-grey:before {
  background: url('../img/backgrounds/scollop-light-grey.png?embed');
}
.background.red {
  background: #ea2452;
}
.background.red:before {
  background: url('../img/backgrounds/scollop-red.png?embed');
}



.titlebar {
  background: url('../img/backgrounds/titlebar-bg.png?embed');
  z-index: 1;
  position: relative;
}



.titlebar-scollop{
  position:absolute;
  background: url('../img/backgrounds/titlebar-scollop.png?embed');
  height:2px;
  width:100%;
}


        .wrapper {
      background: #019ff3;
      overflow:auto;
    }