/*
# Backgrounds

```
<div class="wrapper">
  <div class="titlebar">
    <br /><br />
  </div>
  <div class="head-space">
    <div class="titlebar-scollop"></div>
    <br /><br />
  </div>
  <div class="graph-paper">
    <div class="head-space-scollop"></div>
    <br /><br />
  </div>
  <div class="graph-paper-scollop"></div>
  <br /><br />
</div>

```

*/



    .titlebar {
      background: url('../img/backgrounds/titlebar-bg.png');
      overflow:auto;
    }


    .titlebar-scollop{
      position:absolute;
      background: url('../img/backgrounds/titlebar-scollop.png');
      height:2px;
      width:100%;
    }

    .head-space{
      background: url('../img/backgrounds/head-space-bg.png');
      position:relative;
      overflow-y:auto;
      overflow-x:hidden;
    }

    .head-space-scollop{
      background: url('../img/backgrounds/head-space-scollop.png');
      height:3px;
      width:100%;
      position:absolute;
    }
    .bottom-scollop-dark{
      background: url('../img/backgrounds/bottom-scollop-dark.png');
      height:2px;
      width:100%;
      position:absolute;
    }

    .graph-paper{
      background: url('../img/backgrounds/graph-paper-bg.png');
      position:relative;
      overflow: auto;
    } 


    .graph-paper-scollop{
      background: url('../img/backgrounds/graph-paper-scollop.png');
      height:2px;
    }

        .wrapper {
      background: url('../img/backgrounds/features-bg.png');
      overflow:auto;
    }
