/*
# Backgrounds

```
  <div class="titlebar"></div>
  <div class="head-space">
    <div class="titlebar-scollop"></div>
  <br /><br />


  </div>
  <div class="graph-paper">
    <div class="head-space-scollop"></div>
    <br /><br />
  </div>
  <div class="graph-paper-scollop"></div>
  <div class="features"></div>
  </div>
```

*/



    .titlebar {
      background: url('../img/backgrounds/titlebar-bg.png');
      height: 73px;
      overflow:auto;
    }

    .logo{
      background: url('../img/api-engine-logo.png');
      background-repeat:no-repeat;
      width:151px;
      height:30px;
      margin:auto;
      margin-top:21px;
    }

    .titlebar-scollop{
      position:absolute;
      background: url('../img/backgrounds/titlebar-scollop.png');
      height:2px;
      width:100%;
    }

    .head-space{
      background: url('../img/backgrounds/head-space-bg.png');
      position:relative;
      overflow-y:auto;
      overflow-x:hidden;
      height:465px;
    }

    .head-space-scollop{
      background: url('../img/backgrounds/head-space-scollop.png');
      height:3px;
      width:100%;
      position:absolute;
    }
    .bottom-scollop-dark{
      background: url('../img/backgrounds/bottom-scollop-dark.png');
      height:2px;
      width:100%;
      position:absolute;
    }

    .graph-paper{
      background: url('../img/backgrounds/graph-paper-bg.png');
      position:relative;
      overflow: auto;
      height:73px;
    } 


    .graph-paper-scollop{
      background: url('../img/backgrounds/graph-paper-scollop.png');
      height:2px;
    }

        .features {
      width: 888px;
      height: 586px;
      background: url('../img/features.png');
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
