
.btn {
  display: inline-block;
  border: 1px solid #444;
  border-radius: 3px;
  text-decoration: none;
  color: #ebebeb;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
}
.btn-blue {
  background: #28ACE2;
  border: 1px solid #406173;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#69c5eb), color-stop(4%,#28ACE2));

}
.btn-green {
  background: #8AAb16;
  border: 1px solid #457340;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc45c), color-stop(4%,#adc45c), color-stop(4%,#8AAb16));
}
.btn-red {
  background: #fc1b35;
  border: 1px solid #bd0016;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd6072), color-stop(4%,#fd6072), color-stop(4%,#fc1b35));
}
.btn-orange {
  background: #f6a844;
  border: 1px solid #ad6e00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c27c), color-stop(4%,#f9c27c), color-stop(4%,#f6a844));
}
.btn-grey {
  background: #28ACE2;
  border: 1px solid #1b1f22;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636d73), color-stop(4%,#636d73), color-stop(5%,#48535a), color-stop(51%, #353d42));
}