/*

# Buttons

```
<a href="" class="btn btn-blue">Follow</a>
<a href="" class="btn btn-green">Follow</a>
<a href="" class="btn btn-red">Follow</a>
<a href="" class="btn btn-orange">Follow</a>
<a href="" class="btn btn-regular">Follow</a>
<a href="" class="btn btn-grey">Follow</a>
```

*/


.btn {
  display: inline-block;
  border: 1px solid #444;
  border-radius: 3px;
  text-decoration: none;
  color: #ebebeb;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  -webkit-transition:background 0.5s ease-in; 
  -webkit-transition:color 0.1s ease-in; 
  font-size: 14px;
;}
.btn-blue {
  border: 1px solid #406173;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#69c5eb), color-stop(4%,#28ACE2));
  text-shadow: 0 1px 0 #3891b7;

}
.btn-green {
  border: 1px solid #2a710e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3dc8e), color-stop(4%,#a3dc8e), color-stop(4%,#65c543));
  text-shadow: 0 1px 0 #60a348;
}
.btn-red {
  border: 1px solid #bd0016;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7686), color-stop(4%,#fd7686), color-stop(4%,#fc1b35));
  text-shadow: 0 1px 0 #c53442;
}
.btn-orange {
  border: 1px solid #886700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8d50), color-stop(4%,#fe8d50), color-stop(4%,#fda005));
  text-shadow: 0 1px 0 #ca882b;
}
.btn-grey {
  border: 1px solid #1b1f22;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78838a), color-stop(4%,#78838a), color-stop(4%,#606d75));
  text-shadow: 0 1px 0 #41494d;
  color: #c4cace;
}
.btn-regular {
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe),  color-stop(50%,#ebebeb));
  color: #161717;
}

.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#69c5eb), color-stop(4%,#25b5f0));
}
.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc45c), color-stop(4%,#adc45c), color-stop(4%,#65c543));
}
.btn-red:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7686), color-stop(4%,#fd7686), color-stop(4%,#ff3048));
}
.btn-orange:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c27c), color-stop(4%,#f9c27c), color-stop(4%,#feaa1e));
}
.btn-grey:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78838a), color-stop(4%,#78838a), color-stop(4%,#70808a));
  color: #fff;
}

.btn-regular:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#f3f3f3));
}

/*

## Disabled state 


We need to have disabled state I think ?

```
<button href="" class="btn btn-blue" disabled="disabled">Follow</button>
<button href="" class="btn btn-green" disabled="disabled">Follow</button>
<button href="" class="btn btn-red" disabled="disabled">Follow</button>
<button href="" class="btn btn-orange" disabled="disabled">Follow</button>
<button href="" class="btn btn-regular" disabled="disabled">Follow</button>
<button href="" class="btn btn-grey" disabled="disabled">Follow</button>
```

*/

.btn-blue:disabled {
  opacity: 0.5;

}
.btn-green:disabled {
  opacity: 0.5;
}
.btn-red:disabled {
  opacity: 0.5;
}
.btn-orange:disabled {
  opacity: 0.5;
}
.btn-grey:disabled {
  opacity: 0.5;
}
.btn-regular:disabled {
  opacity: 0.5;
}