/*
# Buttons

## Inline actions

```
<button class="ebtn ebtn-blue">Add a new resource</button>

```
hrmm
*/



.ebtn {
  background: #e4f5fd;
  border: 1px solid #0078bd;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  padding: 5px 5px 5px 25px;
  color: #0078bd;
  position: relative;
  text-align: left;
}
.ebtn-blue {
  background: #e4f5fd;
  border: 1px solid #0078bd;

  color: #0078bd;
}

.ebtn:before {
  font-family: 'ModernPics';
  padding: 0;
  margin: 0;
  content: 'r';
  color: #fff;
  font-size: 24px;
  line-height: 31px;
  position: absolute;
  left: 0;
  height: 100%;
  top:0;
  background: #0078bd;
}

.ebtn-blue:hover {

  background: #0078bd;

  color: #ebebeb;
}

/*
## Standard buttons
```
<a href="" class="btn btn-blue">Follow</a>
<a href="" class="btn btn-green">Follow</a>
<a href="" class="btn btn-red">Follow</a>
<a href="" class="btn btn-orange">Follow</a>
<a href="" class="btn btn-regular">Follow</a>
<a href="" class="btn btn-grey ">Follow</a>
```

## Vertical Feedback

```
<div style="height: 500px; position: relative;">
  <button class="btn btn-side btn-blue">Feedback</btn>
</div>
```

*/
.btn-fixed {
  position: fixed;
  top: 200px;
  margin-left: -32px;
  left: 0;
  z-index: 5;
}
.btn.btn-side {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0px solid #fff !important;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  font-family: 'Nexa Bold';
  letter-spacing: 1px;
  padding: 0 5px 5px 5px;
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.btn {
  display: inline-block;
  border: 1px solid #444;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  -webkit-transition:background 0.5s ease-in;
  -webkit-transition:color 0.1s ease-in;
  font-size: 14px;
}
a.btn {
  height: 28px;
}
.btn-blue {
  border: 1px solid #0078bd;
  background: #019ff3; /* Old browsers */
  background: -moz-linear-gradient(top,  #67c5f8 0%, #019ff3 4%, #019ff3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67c5f8), color-stop(4%,#019ff3), color-stop(100%,#019ff3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #67c5f8 0%,#019ff3 4%,#019ff3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #67c5f8 0%,#019ff3 4%,#019ff3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #67c5f8 0%,#019ff3 4%,#019ff3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #67c5f8 0%,#019ff3 4%,#019ff3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c5f8', endColorstr='#019ff3',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 1px 0 #2785bf;
  color: #fff;
  text-transform: uppercase;
}
.btn-green {
  border: 1px solid #2a710e;
  background: #65c543; /* Old browsers */
  background: -moz-linear-gradient(top,  #65c543 0%, #65b04b 4%, #65b04b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65c543), color-stop(4%,#65b04b), color-stop(100%,#65b04b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #65c543 0%,#65b04b 4%,#65b04b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #65c543 0%,#65b04b 4%,#65b04b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #65c543 0%,#65b04b 4%,#65b04b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #65c543 0%,#65b04b 4%,#65b04b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c543', endColorstr='#65b04b',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 1px 0 #2a710e;
  color: #fff;
  text-transform: uppercase;
}
.btn-red {
  border: 1px solid #83000f;
  background: #ea2452; /* Old browsers */
  background: -moz-linear-gradient(top,  #ea2452 0%, #d43c4e 4%, #d43c4e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea2452), color-stop(4%,#d43c4e), color-stop(100%,#d43c4e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ea2452 0%,#d43c4e 4%,#d43c4e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ea2452 0%,#d43c4e 4%,#d43c4e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ea2452 0%,#d43c4e 4%,#d43c4e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ea2452 0%,#d43c4e 4%,#d43c4e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2452', endColorstr='#d43c4e',GradientType=0 ); /* IE6-9 */

}
.btn-orange {
  border: 1px solid #b86700;
  background: #feaa1e; /* Old browsers */
  background: -moz-linear-gradient(top,  #feaa1e 0%, #e99811 4%, #e99811 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feaa1e), color-stop(4%,#e99811), color-stop(100%,#e99811)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #feaa1e 0%,#e99811 4%,#e99811 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #feaa1e 0%,#e99811 4%,#e99811 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #feaa1e 0%,#e99811 4%,#e99811 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #feaa1e 0%,#e99811 4%,#e99811 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feaa1e', endColorstr='#e99811',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 1px 0 #be7c0e;
  color: #fff;
  text-transform: uppercase;
}
.btn-grey {
  border: 1px solid #171717;
  background: #80888c; /* Old browsers */
  background: -moz-linear-gradient(top,  #80888c 0%, #49545a 4%, #49545a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80888c), color-stop(4%,#49545a), color-stop(100%,#49545a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #80888c 0%,#49545a 4%,#49545a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #80888c 0%,#49545a 4%,#49545a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #80888c 0%,#49545a 4%,#49545a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #80888c 0%,#49545a 4%,#49545a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80888c', endColorstr='#49545a',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 1px 0 #31383d;
  color: #c4cace;
  text-transform: uppercase;
}
.btn-regular {
  border: 1px solid #ccc;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 4%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#f3f3f3), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
  color: #171717;
  text-transform: uppercase;
}

.btn-blue:hover {
  background: #69c5eb; /* Old browsers */
  background: -moz-linear-gradient(top,  #69c5eb 0%, #25b5f0 4%, #25b5f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#25b5f0), color-stop(100%,#25b5f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #69c5eb 0%,#25b5f0 4%,#25b5f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #69c5eb 0%,#25b5f0 4%,#25b5f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #69c5eb 0%,#25b5f0 4%,#25b5f0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #69c5eb 0%,#25b5f0 4%,#25b5f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69c5eb', endColorstr='#25b5f0',GradientType=0 ); /* IE6-9 */
}

.btn-green:hover {
  background: #adc45c; /* Old browsers */
  background: -moz-linear-gradient(top,  #adc45c 0%, #65c543 4%, #65c543 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc45c), color-stop(4%,#65c543), color-stop(100%,#65c543)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #adc45c 0%,#65c543 4%,#65c543 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #adc45c 0%,#65c543 4%,#65c543 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #adc45c 0%,#65c543 4%,#65c543 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #adc45c 0%,#65c543 4%,#65c543 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc45c', endColorstr='#65c543',GradientType=0 ); /* IE6-9 */
}
.btn.btn-red-hover:hover,
.btn-red:hover {
  background: #fd7686; /* Old browsers */
  background: -moz-linear-gradient(top,  #fd7686 0%, #ff3048 4%, #ff3048 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7686), color-stop(4%,#ff3048), color-stop(100%,#ff3048)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fd7686 0%,#ff3048 4%,#ff3048 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fd7686 0%,#ff3048 4%,#ff3048 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fd7686 0%,#ff3048 4%,#ff3048 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fd7686 0%,#ff3048 4%,#ff3048 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7686', endColorstr='#ff3048',GradientType=0 ); /* IE6-9 */
}
.btn-orange:hover {
  background: #f9c27c; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9c27c 0%, #feaa1e 4%, #feaa1e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c27c), color-stop(4%,#feaa1e), color-stop(100%,#feaa1e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9c27c 0%,#feaa1e 4%,#feaa1e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9c27c 0%,#feaa1e 4%,#feaa1e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9c27c 0%,#feaa1e 4%,#feaa1e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9c27c 0%,#feaa1e 4%,#feaa1e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c27c', endColorstr='#feaa1e',GradientType=0 ); /* IE6-9 */
}
.btn-grey:hover {
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #78838a 0%, #80888c 4%, #80888c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78838a), color-stop(4%,#80888c), color-stop(100%,#80888c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #78838a 0%,#80888c 4%,#80888c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #78838a 0%,#80888c 4%,#80888c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #78838a 0%,#80888c 4%,#80888c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #78838a 0%,#80888c 4%,#80888c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78838a', endColorstr='#80888c',GradientType=0 ); /* IE6-9 */
  color: #171717;
  text-shadow:none;
}
.btn-regular:hover {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 4%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#f3f3f3), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 4%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

/*

## Disabled state


We need to have disabled state I think ?

```
<button href="" class="btn btn-blue" disabled="disabled">Follow</button>
<button href="" class="btn btn-green" disabled="disabled">Follow</button>
<button href="" class="btn btn-red" disabled="disabled">Follow</button>
<button href="" class="btn btn-orange" disabled="disabled">Follow</button>
<button href="" class="btn btn-regular" disabled="disabled">Follow</button>
<button href="" class="btn btn-grey" disabled="disabled">Follow</button>
```

*/

.btn-blue:disabled {
  opacity: 0.5;

}
.btn-green:disabled {
  opacity: 0.5;
}
.btn-red:disabled {
  opacity: 0.5;
}
.btn-orange:disabled {
  opacity: 0.5;
}
.btn-grey:disabled {
  opacity: 0.5;
}
.btn-regular:disabled {
  opacity: 0.5;
}

/*

## Homepage buttons

```
<a href="" class="sbtn green">SIGN UP</a>
<a href="" class="sbtn grey">EXPLORE</a>
<a href="" class="sbtn yellow">FEATURES</a>
```

*/
.sbtn {
  color: white;
  padding: 10px 10px 8px 10px;
  font-family: 'Nexa Bold';
  display: inline-block;
  font-size: 18px;
  line-height: 19px;
}
.sbtn:after {
  content: '>';
  margin-left: 5px;
  line-height: 16px;
  font-size: 24px;
  font-family: "ModernPics";
  float: right;
}
.sbtn.grey {
  background: #eeeeee;
  color: #485259;
}
.sbtn.grey:hover{
  outline:1px solid #fff;
}
.sbtn.green {
  background: #65b04b;
}
.sbtn.green:hover{
  outline:1px solid #72c954;
}
.sbtn.yellow {
  background: #fed563;
  color: #485259;
}
.sbtn.yellow:hover {
  outline:1px solid #fce091;
}
.sbtn.blue {
  background: #019ff3;
  color: #fff;
}
.sbtn.blue:hover {
  outline:1px solid #24b3ff;
}
/*

## Joined buttons

```
<button type="button" class="btn btn-right-join btn-green">Yes</button>
<button type="button" class="btn btn-left-join btn-regular">No</button>
```

*/

.btn-right-join {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  float: left;
}

.btn-left-join {
  float: left;
  border-top-left-radius: 0;
  border-left-width: 0;
  border-bottom-left-radius: 0;
}
.btn-right-join.active {
  border-right-width: 1px;
}
.btn-left-join.active {
  border-left-width: 1px;
}
/*

## Avatar button

```
<a href="<%= user.get('login') %>" class="btn btn-right-join btn-grey btn-avatar">
  <img style="width: 28px;" src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61" />
  thomasdavis
</a>
<button class="btn btn-grey btn-left-join "><span class="icon">&#47;</span></button>
```

*/

.btn-avatar {
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
.btn-avatar img {
  float: left;
  margin-right: 5px;
  border-right: 1px solid #171717;
}
.btn-avatar span {
  float: right;
}

.js-account-menu {
  line-height: 20px;
}
/*

## Misc

```
<ul class="slider-buttons">
  <li></li>
  <li class="active"></li>
  <li class="last"></li>
</ul>
<div style="clear: both;"></div>

```
*/
.btn-share .icon {
  background: transparent url(../img/share-icon.png);
  width: 14px; height: 16px; display: block;
}
.slider-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.slider-buttons li {
  cursor: pointer;
  height: 12px;
  width: 12px;
  float: left;
  margin-right: 20px;
}
.slider-buttons li.last {
  margin-right: 0;
}

.slider-buttons li.active {
}

/*
## Speech bubble Arrows

```
<button class="btn triangle-border right">19</button>
      <button class="btn btn-regular">FOLLOWERS</button>
```
*/

.triangle-border {
  position:relative;
  border:1px solid #ccc;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right: 5px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:40px; /* controls horizontal position */
  border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:8px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-5px; /* value = - border-left-width - border-right-width */
  border-width:6px 0 6px 5px;
  border-color:transparent #ccc;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:8px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-4px; /* value = - border-left-width - border-right-width */
  border-width:6px 0 6px 5px;
  border-color:transparent #fff;
}
