/*

# Buttons

```
<a href="" class="btn btn-blue">Follow</a>
<a href="" class="btn btn-green">Follow</a>
<a href="" class="btn btn-red">Follow</a>
<a href="" class="btn btn-orange">Follow</a>
<a href="" class="btn btn-regular">Follow</a>
<a href="" class="btn btn-grey ">Follow</a>
```

*/


.btn {
  display: inline-block;
  border: 1px solid #444;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  -webkit-transition:background 0.5s ease-in; 
  -webkit-transition:color 0.1s ease-in; 
  font-size: 14px;
}
a.btn {
  height: 28px;
}
.btn-blue {
  border: 1px solid #406173;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#69c5eb), color-stop(4%,#009ff3));
  text-shadow: 0 1px 0 #3891b7;

}
.btn-green {
  border: 1px solid #2a710e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3dc8e), color-stop(4%,#a3dc8e), color-stop(4%,#65c543));
  text-shadow: 0 1px 0 #60a348;
}
.btn-red {
  border: 1px solid #bd0016;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7686), color-stop(4%,#fd7686), color-stop(4%,#fc1b35));
  text-shadow: 0 1px 0 #c53442;
}
.btn-orange {
  border: 1px solid #886700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8d50), color-stop(4%,#fe8d50), color-stop(4%,#fda005));
  text-shadow: 0 1px 0 #ca882b;
}
.btn-grey {
  border: 1px solid #1b1f22;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78838a), color-stop(4%,#78838a), color-stop(4%,#606d75));
  text-shadow: 0 1px 0 #41494d;
  color: #c4cace;
}
.btn-regular {
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe),  color-stop(50%,#ebebeb));
  color: #161717;
}

.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c5eb), color-stop(4%,#69c5eb), color-stop(4%,#25b5f0));
}
.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc45c), color-stop(4%,#adc45c), color-stop(4%,#65c543));
}
.btn-red:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7686), color-stop(4%,#fd7686), color-stop(4%,#ff3048));
}
.btn-orange:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c27c), color-stop(4%,#f9c27c), color-stop(4%,#feaa1e));
}
.btn-grey:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78838a), color-stop(4%,#78838a), color-stop(4%,#70808a));
  color: #fff;
}

.btn-regular:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#f3f3f3));
}

/*

## Disabled state 


We need to have disabled state I think ?

```
<button href="" class="btn btn-blue" disabled="disabled">Follow</button>
<button href="" class="btn btn-green" disabled="disabled">Follow</button>
<button href="" class="btn btn-red" disabled="disabled">Follow</button>
<button href="" class="btn btn-orange" disabled="disabled">Follow</button>
<button href="" class="btn btn-regular" disabled="disabled">Follow</button>
<button href="" class="btn btn-grey" disabled="disabled">Follow</button>
```

*/

.btn-blue:disabled {
  opacity: 0.5;

}
.btn-green:disabled {
  opacity: 0.5;
}
.btn-red:disabled {
  opacity: 0.5;
}
.btn-orange:disabled {
  opacity: 0.5;
}
.btn-grey:disabled {
  opacity: 0.5;
}
.btn-regular:disabled {
  opacity: 0.5;
}



/*

## Joined buttons

```
<button type="button" class="btn btn-right-join btn-green">Yes</button>
<button type="button" class="btn btn-left-join btn-regular">No</button>
```

*/

.btn-right-join {
  border-right: 1px solid #444;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
}

.btn-left-join {
  border-left: 1px solid #636e72;
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*

## Avatar button

```
<a href="<%= user.get('login') %>" class="btn btn-right-join btn-grey btn-avatar">
  <img style="width: 28px;" src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61" />
  thomasdavis
</a>
<button class="btn btn-grey btn-left-join "><span class="icon">&#47;</span></button>
```

*/

.btn-avatar {
  padding-left: 0;
}
.btn-avatar img {
  float: left;
  margin-right: 5px;
  border-right: 1px solid #444;
}



/*

## Homepage buttons 

```
<ul class="slider-buttons home-slider">
  <li><button></button>
  <li><button></button>
  <li><button></button>
</ul>
```
*/

.slider-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-buttons button {
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  background: #444;
  height: 10px;
  width: 5px;
  border: 1px solid #ccc;
}

/*
## Speech bubble Arrows

```
<button class="btn triangle-border right">19</button>
      <button class="btn btn-regular">FOLLOWERS</button>
```
*/

.triangle-border {
  position:relative;
  border:1px solid #ccc;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right: 5px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
  border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:8px; /* controls vertical position */
  bottom:auto;
    left:auto;
  right:-5px; /* value = - border-left-width - border-right-width */
  border-width:6px 0 6px 5px;
  border-color:transparent #ccc;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:8px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
    left:auto;
  right:-4px; /* value = - border-left-width - border-right-width */
  border-width:6px 0 6px 5px;
  border-color:transparent #fff;
}
