/*
# Features page

```
<div class="background grey">

</div>
<div class="background light-grey">
<div class="container features-section">
<div class="features-toolbox"></div>
<h2 class="features-heading">GREAT TOOLS</h2>
<p class="features-tag">API Engine comes with a feature set of tools to suit large businesses, start-ups and individual developers alike</p>
<a href="" class="sbtn green">SIGN UP</a>
<div style="clear: both;"></div>
</div>
</div>
<div class="background white">
<div class="container features-section">
</div>

</div>
<div class="background light-grey"></div>
```

*/
.features-section {
  padding: 75px 0;
}
.features-toolbox {
  background: url('../img/features-toolbox.png');
  width: 337px;
  height: 252px;
  float: right;
}
.features-heading {
  font-size: 28px;
  font-family: 'Nexa Bold';
  font-weight: normal;
}
.features-tag {
  font-size: 28px;
  font-family: 'Nexa';
}