/*
# Footer

```
<div class="footer background dark-grey">
  <div class="box-container container">
    <div class="box small">
    <span class="box-title">API ENGINE</span>
    <ul class="footer-links">
      <li><a href="">HOME</a></li>
      <li><a href="">PRICING</a></li>
      <li><a href="">FEATURES</a></li>
    </ul>
    </div>
    <div class="box small">
    <span class="box-title">OPEN SOURCE</span>
    <p class="footer-desc">The API Engine team are active in the Open Source community.</p>
    <p class="footer-desc">Visit our Open Source home page on Github to find out more about our Open Source projects  .</p>
    <ul class="footer-links">
      <li><a href="">API ENGINE ON GITHUB</a>
    </ul>
    </div>
    <div class="box small">
    <span class="box-title">HELP</span>
    <ul class="footer-links">
      <li><a href="">GETTING STARTED</a></li>
      <li><a href="">CREATING APIS</a></li>
      <li><a href="">MANAGING APIS</a></li>
      <li><a href="">COLLABORATORS</a></li>
    </ul>
    </div>
    <div class="box large last">
    <span class="box-title">CONTACT</span>
    <form>
      <input type="text" />
      <input type="text" />
      <textarea></textarea>
      <button class="btn btn-blue">Submit</button>

    </form>

    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="footer-terms-container">
    <ul class="footer-terms">
      <li><a href="">Privacy</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Privacy</a></li>
      <li class="last"><a href="">Privacy</a></li>
    </ul>
    <div style="clear: both;"></div>

  </div>
  <div class="footer-copyright">
  Api Engine Inc, Copyright 2012
  </div>
</div>
```

*/
.footer .box-container {
  padding: 50px 0;
}
.footer .box-container .box.last {
  margin-right: 0;
}
.footer .box {
  float: left;
  margin-right: 40px;
  min-height: 50px;
}
.footer .box.large {
  width: 352px;

}
.footer .box-title {
  color: #eee;
  font-size: 20px;
  font-family: 'Nexa Bold';
  margin-bottom: 25px;
  display: inline-block;
}
.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-desc {
  margin: 0;
  margin-bottom: 25px;
  color: #eee;
  font-size: 14px;
}
.footer-links li a {
  color: #fed563;
  font-size: 16px;
  font-family: 'Nexa';
}
.footer-links li {
  margin-bottom: 25px;
}
.footer .box.small {
  width: 184px;
}

.footer form input {
  width: 346px;
  margin-bottom: 16px;
}
.footer form textarea {
  margin-bottom: 16px;
  width: 346px;
  height: 150px;
}
.footer-terms-container {
  text-align: center;
  margin-bottom: 50px;
}
.footer-terms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.footer-terms li {
  float: left;
  margin-right: 40px;
}
.footer-terms li.last {
  margin-right: 0;
}
.footer-terms li a {

  color: #fed563;
  font-size: 16px;
  font-family: 'Nexa';
}

.footer-copyright {
  text-align: center;
  font-family: 'Nexa';
  color: #eee;
  padding-bottom: 50px;
}