/*
# Footer

```
<div class="footer background dark-grey">
  <div class="box-container container">
    <div class="box small">
          <div class="small-container">
    <span class="box-title">API ENGINE</span>
    <ul class="footer-links">
      <li><a href="">HOME</a></li>
      <li><a href="">PRICING</a></li>
      <li><a href="">FEATURES</a></li>
    </ul>
    </div>
    </div>
    <div class="box small">
      <div class="small-container">
    <span class="box-title">OPEN SOURCE</span>
    <p class="footer-desc">The API Engine team are active in the Open Source community.</p>
    <p class="footer-desc">Visit our Open Source home page on Github to find out more about our Open Source projects  .</p>
    <ul class="footer-links">
      <li><a href="">API ENGINE ON GITHUB</a>
    </ul>
    </div>
    </div>
    <div class="box small">
      <div class="small-container">
    <span class="box-title">HELP</span>
    <ul class="footer-links">
      <li><a href="">GETTING STARTED</a></li>
      <li><a href="">CREATING APIS</a></li>
      <li><a href="">MANAGING APIS</a></li>
      <li><a href="">COLLABORATORS</a></li>
    </ul>
    </div>
    </div>
    <div class="box small last">
          <div class="last small-container">
    <span class="box-title">CONTACT US</span>
    <p class="footer-desc">The API Engine team are active in the Open Source community.</p>

      <button class="btn btn-blue">Contact</button>

  </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="footer-terms-container">
    <ul class="footer-terms">
      <li><a href="">DISCLAIMER</a></li>
      <li><a href="">PRIVACY</a></li>
      <li><a href="">SECURITY</a></li>
      <li class="last"><a href="">TERMS OF SERVICE</a></li>
    </ul>
    <div style="clear: both;"></div>

  </div>
  <div class="footer-copyright">
  API Engine Inc. © 2012
  </div>
</div>
```

*/
.footer .box-container {
  padding: 50px 0;
}
.small-container.last {
  padding-right: 0;
}
.footer .box {
  float: left;
  min-height: 50px;
}
.footer .box.large {
  width: 352px;

}
.footer .box-title {
  color: #ccc;
  font-size: 20px;
  font-family: 'Nexa Bold';
  margin-bottom: 15px;
  letter-spacing: 2px;
  display: inline-block;
}
.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

p.footer-desc {
  margin-bottom:15px; 
 }

.footer-desc {
  margin: 0;
  color: #ccc;
  font-size: 14px;
  font-family: 'Nexa';  
  line-height: 18px;
}
.footer-links li a {
  color: #6184a1;
  font-size: 14px;
  font-family: 'Nexa';
  letter-spacing: 1px;
  text-decoration: none;
}
.footer-links li a:hover {
  color: #fed563;
}
.footer-links li {
  margin-bottom: 15px;
}
.footer .box.small {
  width: 25%;
}
.small-container {
  padding-right: 40px;

}

.footer form input {
  width: 326px;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: none;
  border: 1px solid #060708;
}
.footer form textarea {
  margin-bottom: 16px;
  width: 326px;
  height: 150px;
  border-radius: none;
  border: 1px solid #060708;
  padding: 10px;
}


.footer form textarea::-webkit-input-placeholder,
.footer form textarea::-moz-placeholder {
   color: #6b6d70;
   font-size: 12px;
}

.footer form input:-webkit-input-placeholder,
.footer form input:-moz-placeholder {  
   font-size: 12px;
   color: #6b6d70;  
}

.footer-terms-container {
  text-align: center;
  padding: 15px 0;
}
.footer-terms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.footer-terms li {
  float: left;
  margin-right: 40px;
}
.footer-terms li.last {
  margin-right: 0;
}
.footer-terms li a {
  color:#4d4d4d;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Nexa';
}

.legal-and-copyright{
  font-size: 12px;
  color:#ccc;
  font-family: arial, helvetica, sans-serif;
  text-align:center;  
  line-height:24px; 
  text-decoration: none;
  background-color:#000;
  padding: 0;
  text-transform: uppercase;
}
.legal-and-copyright li a{
  color:#ccc;
  text-decoration: none;
}
.legal-and-copyright li a:hover{
  color: #fed563;
}
.copyright{
  display:inline-block;
  line-height:24px;
  letter-spacing: 1px;
  font-size: 11px;
}
.copyright a{
  text-decoration: none;
  color:#ccc;
}
.copyright a:hover{
  color: #fed563;
}