/*
# Forms

```
<form class="form">
  <label>Username</label>
  <input type="text" value="thomasdavis" />
  <label>Description</label>
  <textarea class="fixie"></textarea>
  <label>Company</label>
  <input type="text" value="API Engine" />

	<label>Boolean options</label>
	<div class="button-group toggle" id="bool-field">
	  <input name="bool-field" type="hidden" value="1" />
	  <button type="button" class="btn btn-right-join btn-regular" value="1">Yes</button>	<!-- the btn-regular class is swapped for btn-green by JS -->
	  <button type="button" class="btn btn-left-join btn-regular" value="0">No</button>
	</div>
</form>
```
*/

.form label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #171717;
}
.form input, .form textarea {
  display: block;
  margin-bottom: 30px;
  outline: 0;
  width: 550px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 18px;
}
.form input.error, .form textarea.error {
	background: #F99;	/* :TODO: */
}
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder {
 color:#f00;
 font-family: 'Arial';
}
.form .favicon {
  margin-right: 5px;
  width: 16px;
}


.profile-pic-input {
  float: right;
}

/*
# Error messages, notes and so forth
```
<form class="form">
	<div class="form-errors">
		<!-- styling applied to show in demo only -->
		<label class="form-error" for="errored-field" style="display: block;">OH GNOES a proglemb happens</label>
		<label class="form-error" for="errored-field2" style="display: block;">This one is bad too</label>
	</div>

	<div class="form-success">
		<label class="form-ok" style="display: block;">Account details updated successfully.</label>
	</div>

	<input type="text" value="I'm Sad" id="errored-field" name="errored-field" class="error" />
	<input type="text" value="I'm OK" />
	<input type="text" value="I'm Mad" id="errored-field2" name="errored-2field2" class="error" />

	<p class="form-description">You may be interested in knowing this...</p>
</form>
```
 */

.form-description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-bottom: 15px;
}

.modal .form-description {	/* clamp form paragraph width in modal popups */
	max-width: 600px;
}

.form-submit {
	margin-bottom: 30px;
}

.form .form-error, .form .form-ok {	/* :TODO: */
	display: none;
	color: #D00;
	font-weight: bolder;
	margin-top: -1em;
}

.form .form-ok {
	color: #0D0;
}
