/*
# Forms

```
<form class="form">
  <label>Username</label> 
  <input type="text" value="thomasdavis" />
  <label>Description</label>
  <textarea class="fixie"></textarea>
  <label>Company</label>
  <input type="text" value="Api Engine" />
</form>
```
*/

.form label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #171717;
}
.form input, .form textarea {
  display: block;
  margin-bottom: 30px;
  outline: 0;
  width: 550px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 18px;
}
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder {
 color:#f00; 
 font-family: 'Arial';
}
.form .favicon {
  margin-right: 5px;
  width: 16px;
}


.profile-pic-input {
  float: right;
}

.form-description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-bottom: 15px;
}