
.logo {
    float: left;
    cursor: pointer;
}
.top-bar-container .logo-cog {
    width: 31px;
    height: 31px;
    background-size: 257px;
    float: left;
    background: url('../img/api-engine-logo.png?embed') no-repeat;
    margin-top: 21px;
}
.logo-text {
    margin-left: 7px;
    width: 115px;
    height: 31px;
    float: left;
    background: url('../img/api-engine.png?embed') no-repeat;
    margin-top: 23px;
}

.top-bar-container {
    background: #444 url('../img/titlebar-bg-grad.png?embed');
    background: #171717;
    height: 72px;
    position: relative;
}
.top-bar-menu {
    list-style: none;
    float: left;
    height: 68px;
    line-height: 70px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.top-bar-menu li {
    float: left;
    margin-left: 10px;
}
.top-bar-menu li a {
    text-decoration: none;
    color: #c4cace;
    display: inline-block;
    height: 72px;
    font-size: 16px;

     -webkit-transition:color 0.175s ease-in; 
    cursor: pointer;
    padding: 1px 11px 1px 11px;
    font-family: 'Nexa';
}
.top-bar-menu li a:hover {
    color: #fff;
}
.top-bar-menu li a.active {
    -webkit-transition:background 0.5s ease-in; 
    color: #fff;
    background: #019ff3;
    padding: 0 10px 0 10px;
    font-family: 'Nexa Bold';
}

.account-menu-container {
    list-style: none;
    float: right;
    height: 73px;
    line-height: 73px;
}
.account-menu-container li {
    float: left;
    margin-left: 10px;
}   