

    .titlebar-scollop{
      position:absolute;
      background: url('../img/backgrounds/titlebar-scollop.png');
      height:2px;
      width:100%;
    }

    .head-space{
      background: url('../img/backgrounds/head-space-bg.png');
      position:relative;
      overflow-y:auto;
      overflow-x:hidden;
    }

    .coming-soon{
      background: url('../img/backgrounds/coming-soon.png');
      background-repeat:no-repeat;
      width:661px;
      height:180px;
      margin:auto;
      margin-top:45px;
    }

    .form-container{
      width: 447px;
      margin: auto;
      margin-top: 73px;
      position: relative;
    }

    .email-address{
      width:435px;
      font-family: 'AftaserifItalic';
      border-radius:4px;
      border: 1px solid #bdbdbd;
      height:40px;
      background: #fff url('../img/backgrounds/email-address-bg.png');
      background-repeat: repeat-x;
      font-size:20px;
        color:#606d75;
        padding:5px;
        text-align:center;
        letter-spacing:2px;
        font-weight:bold;
        outline: none;
    }

    .respect-privacy-text{
      width:231px;
      height:99px;
      position:absolute;
      left:455px;
      top:-15px;
      background: url('../img/backgrounds/respect-privacy-text.png');
      background-repeat:no-repeat;
    }

    .submit{
      width:101px;
      height:30px;
      border-radius: 4px;
      border: 1px solid #3e474d;
      margin:auto;
      display:block;
      margin-top:25px;
      margin-bottom:54px;
      background: url('../img/backgrounds/button-blue-bg.png');
      color:#fff;
      font-family: "BebasNeueRegular";
      font-weight:normal;
      font-size:18px;
      letter-spacing: 1px;
      text-shadow: 0 1px #232a2e;
      cursor: pointer;
    }

    .head-space-scollop{
      background: url('../img/backgrounds/head-space-scollop.png');
      height:3px;
      width:100%;
      position:absolute;
    }
    .bottom-scollop-dark{
      background: url('../img/backgrounds/bottom-scollop-dark.png');
      height:2px;
      width:100%;
      position:absolute;
    }

    .graph-paper{
      background: url('../img/backgrounds/graph-paper-bg.png');
      position:relative;
      overflow: auto;
      height:73px;
    } 

    .share-container{
      width: 445px;
      margin: auto;
      margin-top: 28px;
    } 

    .share-this-page{
      width:131px;
      height:14px;
      background:url('../img/backgrounds/share-this-page.png');
      background-repeat:no-repeat;
      float: left;
      margin-right: 30px;
      margin-top: 3px;
    }

    .addthis_toolbox a {
      width: 84px;
    }

    .graph-paper-scollop{
      background: url('../img/backgrounds/graph-paper-scollop.png');
      height:2px;
    }

    body{
      margin:0;
      padding:0;
      background: url('../img/backgrounds/features-bg.png');
    }

    .thank-you-container {
      width: 501px;
      margin: auto;
      margin-top: 59px;
      position: relative;
    }
    .thanks {
      width: 501px;
      height :104px;
      background: url('../img/backgrounds/thanks.png');
      margin: auto;
    }
    .thank-you-email {
      text-align: center;
      font-family: 'AftaserifItalic';
      font-size:20px;
        color:#606d75;
        padding:5px;
        text-algin:center;
        letter-spacing:2px;
        margin-top: 50px;
        font-weight:bold;
    }
    .appreciate-interest {
      width: 381px;
      height: 40px;
      margin: auto;
      margin-top: 20px;
      background: url('../img/backgrounds/appreciate-interest.png');
    }
    .in-the-mean-time {
      height: 14px;
      width: 157px;
      margin: auto;
      background: url('../img/backgrounds/in-the-mean-time.png');
      margin-top: 33px;
    }
    .follow-us-container {
      width: 970px;
      margin: auto;
      margin-top: 52px;
    }
    .follow-us {
      width: 522px;
      height: 14px;
      margin: auto;
      background: url('../img/backgrounds/follow-us.png');
    }
    .buttons-container {
      margin: auto;
      margin-top: 43px;
      width: 745px;
    }
    .buttons-container a {
      display: inline-block;
      font-family: "BebasNeueRegular";
      color: #ffc938;
      margin-right: 26px;
      text-decoration: none;
      text-align: center;
    }
    .buttons-container .button {
      width: 125px;
      height: 124px;
    }
    .twitter {
      background: url('../img/backgrounds/twitter.png');
    }
    .github {
      background: url('../img/backgrounds/github.png');
    }
    .facebook {
      background: url('../img/backgrounds/facebook.png');
    }
    .google {
      background: url('../img/backgrounds/google.png');
    }
    .linkedin {
      background: url('../img/backgrounds/linkedin.png');
    }
    .button-label {
      margin-top: 12px;
      letter-spacing: 1px;
      font-size:20px;
      text-shadow: 0 1px #1d2326;
    }
    .buttons-container a:hover {
      color: #ebebeb;
    }
    .cog-banner {
      width: 970px;
      height: 30px;
      background: url('../img/backgrounds/cog-banner.png');
      margin-top: 66px;
    }
        .features {
      width: 888px;
      height: 586px;
      background: url('../img/backgrounds/features.png');
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .email-error {
      border: 1px solid #cd361d;
    }