/*
## Home page styles


Main tagline

```
<div class="slide">
<span class="heading">GREAT APPS START WITH GREAT APIs</span>
</div>
```
Tagline description

```
<div class="slide">
<span class="tag">Turbo-charge your APIs with our secure & collaborative API document builder and distribution platform</span>
</div>
```


*/

.slide .heading {
	font-family: 'Nexa Bold';
	font-size: 30px;
	background: #ea2452;
	display: inline-block;
	color: #fff;
	padding: 10px;
	line-height: 25px;
}
.slide .tag {
	color: #333332;
	font-family:  'Nexa';
	font-size: 30px;
	display: inline-block;
}

.tagline {
  display: block;
  text-align: center;
}

.home-slider {
  margin: auto;
  width: 60px;
}
.signup-bar {
  width: 430px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;

}
.signup-bar span {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.home-heading {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.feature-box {
  float: left;
  width: 250px;
  margin-right: 60px;
  color: #fed563;
font-size: 20px;
  text-align: center;
}
p.feature-description {
line-height: 24px;
color: white;
font-size: 20px;
font-family: 'Nexa';
width: 80%;
margin: auto;
padding-bottom: 80px;
}