/*
# Icons

*/

@font-face {
    font-family: 'ModernPics';
    src: url('modernpics.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
  font-family: "ModernPics";
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

/*

## Fav Icons 

```
  <img src="http://twitter.com/favicon.ico" />
  <img src="http://facebook.com/favicon.ico" />

```

*/

.facebook {
  background: url('http://facebook.com/facivon.ico');
}
