@font-face {
    font-family: 'ModernPics';
    src: url('modernpics.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
  font-family: "ModernPics";
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
