.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #444;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.modal {
  position: fixed;
  top: 200px;
  background: #fff;
  left: 50%;
  border: 1px solid #ebebeb;
}

.modal-header {
  padding: 15px;
}
.modal-close-icon {
  color: #171717;
  height: 8px;
  width: 8px;
  font-size: 16px;
  line-height: 0px;
  float: right;
}

.modal-content {
  padding: 20px 50px;
}
.modal input.last {
  margin-bottom: 0;
}
.modal-title {
  text-transform: uppercase;
  font-size: 32px;
  padding: 0px;
  margin: 0px;
  font-family: 'Nexa';
  margin-bottom: 20px;
  line-height: 34px;
  font-weight: normal;
}

.modal input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
   padding-left: 10px;
  line-height: 24px;
  color: #171717;
}
.model input[type=text] {
  min-width: 250px;
  
}
.modal input:hover {
  background: #f7f7f7;
}
.modal input::-webkit-input-placeholder {
   font-size: 12px;
   font-family: Arial;
   color: #6b6d70;
}
.modal-footer {
  background: #f7f7f7;
}

.modal-buttons {
  padding: 15px 50px;
}

.modal-link {
  text-decoration: none; 
  color: #4A92FD;
  font-size: 12px; 
  float: right;
  line-height: 30px;
}

.modal-form-errors {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.modal-form-errors li {
  border: 1px solid #ce3442;
  background: #ffe7e9;
  font-size: 12px;
  color: #370005;
}

.error {
  width: 29px;
  height: 28px;
  background: #ce3442;
  text-align: center;
  display: inline-block;
  line-height: 23px;
  font-size: 20px;
  color: #fff;
}
.error-message {
  line-height: 28px;
display: inline-block;
vertical-align: top;
font-size: 11px;
padding-left: 5px;
}