.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #444;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.modal {
  position: fixed;
  top: 200px;
  background: #fff;
  left: 50%;
  border: 1px solid #ebebeb;
}

.modal-header {
  padding: 10px;
}
.modal-close-icon {
  color: #444;
  float: right;
}

.modal-content {
  padding: 10px 30px;
}

.modal-title {
  text-transform: uppercase;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
  font-family: 'Nexa';
  margin-bottom: 20px;
  font-weight: normal;
}

.modal input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.modal-footer {
  background: #f7f7f7;
}

.modal-buttons {
  padding: 10px 30px;
}

.modal-link {
  text-decoration: none; 
  color: #4A92FD;
  font-size: 12px; 
  float: right;
  line-height: 30px;
}

.modal-form-errors {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.modal-form-errors li {
  border: 1px solid #ff0000;
  background: #ff9999;
  font-size: 12px;
  padding: 5px;
}