/*  
# Profile 

## Profile heading

```
<div class="profile-box">
  <img class="profile-box-pic" src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61.jpg?s=150" />
  <div class="profile-box-info">
    <h3 class="fixie"></h3>
    <span class="extra fixie"></span>
    <p class="">Before hog wayfarers bushwick authentic. Sriracha original dubstep art fin. Party chowder twee farm-to-table brooklyn delectus kale shot. Helvetica delectus the incididunt. Gastropub totally pour-over viral vinyl </p>
    <div style="clear: both;"></div>
    <div class="social-networks">
      <div class="icon">&#119;</div>
      <img class="icon" src="http://twitter.com/favicon.ico" />
      <img class="icon" src="http://facebook.com/favicon.ico" />
      <img class="icon" src="http://linkedin.com/favicon.ico" />
      <img class="icon" src="http://stackoverflow.com/favicon.ico" />
      <img class="icon" src="http://apiengine.io/favicon.ico" />
    </div> 
  </div>
  <div class="profile-box-buttons">
    <button class="btn btn-regular">EDIT PROFILE</button>
  </div>

  <div style="clear: both;"></div>
</div>

```

*/

.cog-power {
  width: 146px;
  height: 146px;
  background: url('../img/cog-power-146x146.png?embed');
}

  .user-profile-image {
    width: 60px;
    height: 60px;
    background: #ebebeb;
    float: left;
  }

.profile-api-container {
    padding: 20px;
}
.profile-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.profile-tabs li {
    float: left;
    margin-left: 20px;
    background: #555;
    color: #ebebeb;
}
.profile-tabs li  a {
    color: #ebebeb;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.profile-info-container {
  margin-top: 50px;
}
.profile-info-container h1 {
  margin-top: 0;
}
.social-networks .icon {
  float: left;
  margin-right: 15px;
  font-size: 22px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}
.profile-box {
  border: 1px solid #ccc;
  background: #fff;
  padding: 15px;
  margin: 0;
}
.profile-box-pic {
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
}

.profile-box-info {
  float: left;
  margin-left: 15px;
  width: 620px;
}
.profile-box-info h3 {
  font-weight: normal;
  color: #171717;
  margin: 0 0 5px 0 ;
  font-size: 24px;
}
.profile-box-info .extra {
  font-size: 14px;
  color: #6c6d6f;
  height: 20px;
}
.profile-box-info p {
  color: #4d4d4d;
  font-size: 14px;
  margin-top: 5px;
  line-height: 18px;
}
.profile-box-buttons {
  float: right;
}
.profile-box-buttons button {
  margin-bottom: 15px;
  float: right;
}
/*
## Getting started box

```
<div class="tempbox">
  <span class="icon tempbox-close-icon js-close-modal">&#88;</span>
  <div class="tempbox-container">
    <span class="tempbox-title">Getting started</span>
    <div style="clear: both;"></div>
    <div class="box">
      <div class="tempbox-header">
        <span class="icon">&#119;</span>
        <p class="temptext">Public API's are an SEO, cost effective method of distribution your APIs to the most people.</p>
      </div>
      <div class="tempbox-footer">
        <button class="btn btn-blue">CREATE A PUBLIC API</button>
      </div>
    </div>
    <div class="box box-last"></div>
    <div style="clear: both;"></div>
  </div>
</div>

```

*/
.tempbox-footer {
  background: #f7f7f7;
}
.tempbox {
  min-height: 200px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  background: #fff;
  display: inline-block;
  width: 100%;
  margin: 50px 0 50px 0;
}
.tempbox-close-icon {
  color: #444;
  float: right;
  margin-right: 14px;
  margin-top: 14px;
  line-height: 14px;
}
.tempbox-title {
  text-transform: uppercase;
  font-size: 26px;
  padding: 0px;
  margin: 10px 0 30px 10px;
  font-family: 'Nexa';
  margin-bottom: 20px;
  font-weight: normal;
  display: inline-block;

}
.tempbox-container {
  padding: 20px 20px 30px 20px;
}
.tempbox-container .box {
  width: 290px;
  float: left;
  margin-right: 44px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
}
.tempbox-header {
  padding: 10px 20px 10px 20px;

}
.tempbox-footer {
  padding: 10px 0 10px 0;
}
.tempbox-container .box.first {
  margin-left: 10px;
}
.tempbox-container .box .icon {
  font-size: 108px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fcd24c;
}

.tempbox-footer a {
  margin-left: 20px;
}


.temptext {
  font-size: 12px;
  line-height: 18px;
text-align:justify;
text-justify:inter-word;
  margin: 0;
  color: #6c6d6f;
  margin-bottom: 20px;
}
.tempbox-container .box.last {
  margin-right: 0;
}
