/*
# Settings

## Settings Layout

```

```

*/

.spacer {
  height: 30px;
}
.cards {
  width: 199px;
  height: 20px;
  background: url('../img/cards.png');
}

.settings-container {
  padding-top: 30px;
  min-height: 400px;
}
.settings-menu-container {
  float: left;
  width: 230px;
}
.settings-page-container {
  float: left;
  width: 794px;
}
.settings-title-container {
  padding-bottom: 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}
.settings-page-container .settings-title-container {
  padding-left: 30px;
}
.settings-menu {
  border-left: 1px solid #ebebeb;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border-right: 1px solid #ebebeb;
}
.settings-menu {
  border-top: 1px solid #ebebeb;

}
.settings-menu:first-child {
  border-top: none;

}
.settings-menu li {
  border-bottom: 1px solid #ebebeb;
}
.settings-title {
  font-size: 20px;
  color: #171717;
}
.arrows { 
  color: #6b6d70;
}
.settings-title.inline {
  margin-bottom: 30px;
  display: inline-block;
}
.settings-menu-container .settings-title {
  margin-left: 15px;
}
.settings-menu li a {
  padding: 15px 10px 15px 10px;
  display: block;
  color:#4A92FD;
  font-size: 14px;
  text-decoration: none;
}
/*.settings-menu li a:hover {
  text-decoration:underline;
}*/
.settings-menu li a.active:hover,
.settings-menu li a.active {
  background: #171717;
  color: #fff;
  position:relative;

}



/* creates the smaller  triangle */
.settings-menu li a.active:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  right:0; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}



/* creates the smaller  triangle */
.settings-menu li a.active:after {
  top:17px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  right:-1px; /* value = - border-left-width - border-right-width */
   border-width:6px 5px 6px 0px;
  border-color:transparent #fff;
}



.settings-menu li a:hover {
  background: #f7f7f7;
}
.title-button {
  float: right;
}
.settings-page-contents {
  padding: 30px 0 30px 30px;
}