 /*
 # Tabs
 ```
  <div class="tabs-container">
    <ul class="tabs">
      <li class="active"><a href="">APIs</a></li>
      <li><a href="">Activity</a></li>
      <li><a href="">Collaborators</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
 ```
 */


 .tabs-container {
    padding-top: 50px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff),  color-stop(100%,#f7f7f7));

  }
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tabs li {
    float: left;
    margin-bottom: -1px;
    margin-right: 30px;
  }
  .tabs li:first-child {
    margin-left: 15px;
  }
  .tabs li a {
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #171717;
    font-size: 14px;
  }
  .tabs li.active {
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
    border-bottom: 1px solid #fff;
    background: #fff;

  }
  .tabs li.active a {
    color: #161717;

  }

  .tabs li.active a .icon {
    color: #161717;

  }
  .tabs li a {
    color: #4a92fd;
  }
  .tabs li a .icon {
    margin-right: 7px;
  }