 /*
 # Tabs
 ```
  <div class="tabs-container">
    <ul class="tabs">
      <li class="active"><a href="">API Version 1.7</a></li>
      <li><a href="">Global activity</a></li>
      <li><a href="">Collaborators</a></li>
      <li><a href="">Manage API</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
 ```
 */


 .tabs-container {
    margin-top: 42px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;

  }
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tabs li {
    float: left;
    margin-bottom: -1px;
    margin-right: 30px;
  }
  .tabs li:first-child {
    margin-left: 15px;
  }
  .tabs li a {
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #444;
  }
  .tabs li.active {
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
    border-bottom: 1px solid #fff;

  }
  .tabs li.active a {
    color: #161717;

  }

  .tabs li.active a .icon {
    color: #161717;

  }
  .tabs li a {
    color: #4a92fd;
  }
  .tabs li a .icon {
    margin-right: 7px;
  }