/*
  # Uncategorized styles
  All styles come in here then are parsed out into appropiate sub files
*/

a {
  color: #39f;
  text-decoration: none;
}
p { 
font-size: 14px;
}
/*a:hover {
  color: #39f;
  text-decoration: underline;
}*/
@font-face {
    font-family: 'Nexa';
    src: url('fonts/nexalight-webfont.eot');
    src: url('fonts/nexalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexalight-webfont.woff') format('woff'),
         url('fonts/nexalight-webfont.ttf') format('truetype'),
         url('fonts/nexalight-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa Bold';
    src: url('fonts/nexabold-webfont.eot');
    src: url('fonts/nexabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexabold-webfont.woff') format('woff'),
         url('fonts/nexabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ModernPics';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}


html {
    overflow-y: scroll;
    font-family: Arial, Helvetica, San-Serif;
    font-size: 14px;
}
html, body {
  height: 100%;
}
body {
}
.page {
  min-height: 500px;
  background: #fff;
}
.container {
    width: 1024px;
    margin: auto;
}
.autoresize {
	 width: 400px; 
    min-height: 120px; 
    max-height: 300px;
    _height: 120px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0; 
    border: 1px solid #a0b3d6; 
    font-size: 12px; 
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}
.centered-content {
  text-align: center;
}

body [data-show-authed],
body [data-hide-authed] {
  display: none;
}

body [data-show-authed="true"] {
  display: block;
}

body [data-hide-authed="false"] {
  display: block;
}

.legal-container h1,
.legal-container h2,
.legal-container h3,
.legal-container h4,
.legal-container h5,
.legal-container h6 {
  font-family: 'Nexa';
  font-weight: normal;
}

.coming-soon {
  font-family: 'Nexa Bold';
  font-size: 24px;
  padding-bottom: 30px;
  margin:0 auto;
  color:#333;
  text-align: center;
}