<div class="container" style="width: 960px;">
	<div class="row-fluid">
		<div class="">
				<div class="well">
			
					<div style="float: left; width: 80px; height:  80px; background: #ccc"><img src="http://www.gravatar.com/avatar/<%= user.get('gravatar') %>.jpg" /></div>		
					<div style="float: left; width: 500px; margin-left: 20px;">
							<h1><%= user.get('login') %> (Thomas Davis)</h1>
							<h2><%= user.get('url') %></h2>
							<h2><%= user.get('email') %></h2>
							<p>ApiDocco is a web app built as a tool to significantly aid your applications RESTful API development.</p>
							<% if(currentUser) { %>
		          <button class="btn btn-success dropdown-toggle js-edit-profile" data-toggle="dropdown">Edit </button>
		          <% }; %>

							<div style="clear: both;"></div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		<div class="">
		<div class="private-container ">
			Loading
		</div>
	</div>

<!--

	<div class="span4">
	<div class="private-container well">
		Loading
	</div>

	</div>
</div>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
-->
</div>
<div class="modal hide" id="js-edit-profile-form">
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit profile</h3>
  </div>
  <div class="modal-body">
  	<p>Use this form to edit your user profile for now because I am a lazy UI designer.
   <form class="form-horizontal js-save-profile-form">
  <fieldset>
    <legend>Info</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Url</label>
      <div class="controls">
        <input type="url" class="input-xlarge" name="url" id="input01" value="<%= user.get('url') %>">
        <p class="help-block">Your homepage!</p>
      </div>
    </div>
		<div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
    </div>

		<div class="control-group">
            <label class="control-label">Publicize email</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="publicize" value="true" id="optionsRadios1" checked="" <%= user.get('publicize') === true ? 'checked' : '' %>>
                Make my email address public
              </label>
              <label class="radio">
                <input type="radio" id="optionsRadios2" value="false" name="publicize" <%= user.get('publicize') === false ? 'checked' : '' %>>
                Keep it private please
              </label>
            </div>
          </div>

  </fieldset>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <input type="submit" value="Save changes" class="btn btn-primary js-save-profile">
  </div>
</form>


	</div>
	</div>
