<div class="background white">
<div class="container" style="padding-top: 50px;">
<div class="profile-box">
  <img class="profile-box-pic" src="http://www.gravatar.com/avatar/{{user.attributes.gravatar}}.jpg?s=150" />
  <div class="profile-box-info">
    <h3>{{user.attributes.login}}</h3>
    <span class="extra">Signed up <span class="timeago" title="{{user.attributes.profile.joindate}}"></span></span><br />
    <span class="extra">Website: {{user.attributes.profile.website}}</span><br />
    <span class="extra">Location: {{user.attributes.profile.location}}</span><br />
    <p class="">{{user.attributes.profile.description}}</p>
    <div style="clear: both;"></div>
    <div class="social-networks">
      <div class="icon">&#119;</div>
      {{#user.attributes.profile.twitter}}
      <a href="http://twitter.com/{{#user.attributes.profile.twitter}}"><img class="icon" src="http://twitter.com/favicon.ico" /></a>
      {{/user.attributes.profile.twitter}}

      <img class="icon" src="http://facebook.com/favicon.ico" />
      <img class="icon" src="http://linkedin.com/favicon.ico" />
      <img class="icon" src="http://stackoverflow.com/favicon.ico" />
      <img class="icon" src="http://apiengine.io/favicon.ico" />
    </div> 
  </div>
  <div class="profile-box-buttons">
    {{#currentUser}}
    <button class="btn btn-regular">EDIT PROFILE</button>
    {{/currentUser}}
    
    <div style="clear: both;"></div>
    <!--
      <button class="btn btn-regular btn-share"><span class="icon">&#106;</span></button>
-->
  </div>

  <div style="clear: both;"></div>
</div>
  <div class="tempbox">
    <span class="icon tempbox-close-icon js-close-modal">&#88;</span>
    <div class="tempbox-container">
      <span class="tempbox-title">Getting started</span>
      <div style="clear: both;"></div>
      <div class="box first">
        <div class="tempbox-header">
          <span class="icon">&#119;</span>
          <p class="temptext">Public API's are a search engine optimised,  more text and cost effective method of distributing </p>
        </div>
        <div class="tempbox-footer">
          <button class="btn js-newapi btn-blue">CREATE A PUBLIC API</button>
        </div>
      </div>
      <div class="box">
        <div class="tempbox-header">
          <span class="icon">&#110;</span>
          <p class="temptext">Private APIs offer the security of mind that start-ups and companies need to develop their API.</p>
        </div>
        <div class="tempbox-footer">
          <button class="btn btn-blue js-newapi">CREATE A PRIVATE API</button>
        </div>
      </div>
      <div class="box last">
        <div class="tempbox-header">
          <span class="icon">&#115;</span>
          <p class="temptext">Take a look at other companies and developers  API Engine perfect for distributing their API docs.</p>
        </div>
        <div class="tempbox-footer">
          <a href="browse" class="btn btn-blue">EXPLORE APIs</a>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="tabs-container">
    <ul class="tabs">
      <li class="active apilist"><a href="{{user.attributes.login}}">APIs</a></li>
      {{#currentUser}}
      <li class="settings"><a href="{{user.attributes.login}}/settings/profile">Settings</a></li>
      {{/currentUser}}
    </ul>
    <div style="clear: both;"></div>
  </div>
  <div class="tab-container private-container"></div>
</div>
</div>