
    <% if (user !== null) { %>
    
    <li><a href="" class="btn btn-blue">New API</a></li>
    <li><a href="<%= user.get('login') %>" class="btn btn-grey btn-avatar"><img style="width: 30px;" src="http://www.gravatar.com/avatar/<%= user.get('user').gravatar %>" /><%= user.get('login') %></a><button class="btn btn-grey"><span class="icon">&#47;</span></button></li>
   <!-- <li><button class="logout btn btn-grey" >Logout</button></li>-->
    <% } else { %>
    <li><button  class="signup btn btn-green" >Signup</button></li>
    <li><button  class="login btn btn-grey" >Login</button></li>

    <% }; %>
