
    <% if (user !== null) { %>
    
    <li><a href="" class="btn btn-blue">New API</a></li>
    <li>
      <div style="height: 20px;display:inline-block;">
      <a href="<%= user.get('login') %>" class="btn btn-right-join btn-grey btn-avatar">
        <img style="width: 28px;" src="http://www.gravatar.com/avatar/<%= user.get('user').gravatar %>" />
        <%= user.get('login') %>
      </a>
      <button class="btn btn-left-join btn-grey"><span style="font-size: 20px;" class="icon">&#47;</span></button>

<div style="clear: both;"></div>
</div>
    </li>
   <!-- <li><button class="logout btn btn-grey" >Logout</button></li>-->
    <% } else { %>
    <li><button  class="signup btn btn-green" >Signup</button></li>
    <li><button  class="login btn btn-grey" >Login</button></li>

    <% }; %>
