<div class="top-bar-container">
    <div class="container">
        <a href="#" class="logo">
      <div class="logo-cog"></div>
      <div class="logo-text"></div>
    </a>
        <ul class="top-bar-menu">
            {{#username}}
            <li><a class="dashboard-button" href="#{{username}}">DASHBOARD</a></li>
            <li><a class="explore-button" href="#browse">EXPLORE APIs</a></li>            
            {{/username}}
            {{^username}}
            <li><a class="home-button" href="#">HOME</a></li>
            <!--<li><a class="explore-button" href="#browse">EXPLORE APIs</a></li>  -->
            <li><a class="features-button"  href="#features">FEATURES</a></li>
            <li><a class="pricing-button"  href="#pricing">PRICING</a></li>
            <!--<li><a class="news-button"  href="#pricing">BLOG</a></li>-->
            {{/username}}
        </ul>
        <ul style="padding: 0; margin: 0; display: none;" class="account-menu-container">
        </ul>
        <div style="clear: both;">
        </div>
    </div>
</div>