<div class="top-bar-container">
    <div class="container">
        <a href="#" class="logo">
      <div class="logo-cog"></div>
      <div class="logo-text"></div>
    </a>
        <ul class="top-bar-menu">
            {{#username}}
            <li>
                <a class="home-button" href="#">Home</a>
            </li>

            <li>
                <a class="explore-button" href="#browse">Explore</a>
            </li>
            
            {{/username}}
            {{^username}}
            <li>
                <a class="home-button" href="#">Home</a>
            </li>

            <li>
                <a class="features-button"  href="#features">Features</a>
            </li>
            <li>
                <a class="pricing-button"  href="#pricing">Pricing</a>
            </li>
            <li>
                <a class="news-button"  href="#pricing">News</a>
            </li>
            {{/username}}
        </ul>
        <ul style="padding: 0; margin: 0; display: none;" class="account-menu-container ">
        </ul>
        <div style="clear: both;">
        </div>
    </div>
</div>