<div class="background light-grey">
    <div class="container">
        <div class=" features-section">
            <div class="features-toolbox">
            </div>
            <h2 class="features-heading">
                GREAT TOOLS
            </h2>
            <p class="features-tag">
                API Engine comes with a feature set of tools to suit large businesses,
                start-ups and individual developers alike
            </p>
            <a href="" class="sbtn green">SIGN UP</a>
            <div style="clear: both;">
            </div>
        </div>
    </div>
</div>
<div class="background white">
    <div class="container ">
        <div class="features-section">
            <div class="features-pic">
                <div class="features-pic-docs">
                </div>
            </div>
            <div class="features-info">
                <h2 class="features-heading">
                    DOCUMENTATION
                </h2>
                <p class="features-desc">
                    When you host your APIs on API Engine you can be confident that they are
                    accessible, stylish, and responsive on all platforms.
                </p>
                <div class="two-column">
                    <div class="yellow-developers">
                    </div>
                    <h3 class="for-tag">
                        FOR API DEVELOPERS
                    </h3>
                    <p class="features-desc">
                        Stylish, acccesible, and hassle free API documents.
                    </p>
                    <ul class="features-list">
                        <li>
                            Stylish docs
                        </li>
                        <li>
                            Consistent theme
                        </li>
                        <li>
                            Responsive design
                        </li>
                        <ul>
                </div>
                <div class="two-column">
                    <div class="yellow-consumers">
                    </div>
                    <h3 class="for-tag">
                        FOR API CONSUMERS
                    </h3>
                    <p class="features-desc">
                        When you host your APIs on API Engine you can be confident that they are
                        accesible stylish.
                    </p>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
<div class="background light-grey">
    <div class="container ">
        <div class="features-section">
            <div class="features-pic">
                <div class="features-pic-collab">
                </div>
            </div>
            <div class="features-info">
                <h2 class="features-heading">
                    COLLABORATION
                </h2>
                <p class="features-desc">
                    When you host your APIs on API Engine you can be confident that they are
                    accessible, stylish, and responsive on all platforms.
                </p>
                <div class="two-column">
                    <div class="blue-developers">
                    </div>
                    <h3 class="for-tag">
                        FOR API DEVELOPERS
                    </h3>
                    <p class="features-desc">
                        Stylish, acccesible, and hassle free API documents.
                    </p>
                    <ul class="features-list">
                        <li>
                            Stylish docs
                        </li>
                        <li>
                            Consistent theme
                        </li>
                        <li>
                            Responsive design
                        </li>
                        <ul>
                </div>
                <div class="two-column">
                    <div class="blue-consumers">
                    </div>
                    <h3 class="for-tag">
                        FOR API CONSUMERS
                    </h3>
                    <p class="features-desc">
                        When you host your APIs on API Engine you can be confident that they are
                        accesible stylish.
                    </p>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
<div class="background white">
    <div class="container ">
        <div class="features-section">
            <div class="features-pic">
                <div class="features-pic-discovery">
                </div>
            </div>
            <div class="features-info">
                <h2 class="features-heading">
                    DISCOVERY
                </h2>
                <p class="features-desc">
                    When you host your APIs on API Engine you can be confident that they are
                    accessible, stylish, and responsive on all platforms.
                </p>
                <div class="two-column">
                    <div class="red-developers">
                    </div>
                    <h3 class="for-tag">
                        FOR API DEVELOPERS
                    </h3>
                    <p class="features-desc">
                        Stylish, acccesible, and hassle free API documents.
                    </p>
                    <ul class="features-list">
                        <li>
                            Stylish docs
                        </li>
                        <li>
                            Consistent theme
                        </li>
                        <li>
                            Responsive design
                        </li>
                        <ul>
                </div>
                <div class="two-column">
                    <div class="red-consumers">
                    </div>
                    <h3 class="for-tag">
                        FOR API CONSUMERS
                    </h3>
                    <p class="features-desc">
                        When you host your APIs on API Engine you can be confident that they are
                        accesible stylish.
                    </p>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>