<div>
    <h3 style="margin-bottom: 30px;">Login</h3>
    <form class="login">
        <input  style="margin-bottom: 30px;" placeholder="Email or username..." name="login" type="text" required autofocus />
        <br />
        <input  style="margin-bottom: 30px;" name="password" type="password" required placeholder="Password..." />
        <a style="float: right; text-decoration: none; color: #4A92FD;" href="#/forgot_password">I forgot my password</a>
        <input style="float: left;" type="submit" class="btn btn-blue" id="submit" value="Sign in" />

    </form>

      <!--  <% _.each(errors, function (error) { %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Auth failed!</h4>
        Check your username and password
    </div>
    <% }); %>-->
</div>
