<div class="background yellow">
    <div class="container">
    <div class="slides-container">
        <div class="slide slide1">
            <div class="heading-container">
                <span class="heading">
                    GREAT APPS START
                </span>
                <br />
                <span class="heading">
                    WITH GREAT APIs
                </span>
            </div>
            <span class="tag">
                Turbo-charge your RESTful APIs with our secure and collaborative API document builder
                and distribution platform.
            </span>
            <div id="swiffycontainer" style="width: 315px; height: 315px">
            </div>
        </div>
        <div class="slide slide2">
            <div class="heading-container">
                <span class="heading">
                    PRIVACY FOR YOUR
                </span>
                <br />
                <span class="heading">
                    INTERNAL PROJECTS
                </span>
            </div>
            <span class="tag">
                When privacy is paramount we have you covered. APIs can be switched between private and public at any time.
            </span>
            <div id="swiffycontainer2" style="width: 315px; height: 315px">
            </div>
        </div>
        <div class="slide slide3">
            <div class="heading-container">
                <span class="heading">
                    OPTIMISED PUBLIC APIs 
                </span>
                <br />
                <span class="heading">
                    FOR MAXIMUM EXPOSURE
                </span>
            </div>
            <span class="tag">
                Keep your team, your customers, and your audience in the loop using our comprehensive set of social tools.
            </span>
            <div id="swiffycontainer3" style="width: 315px; height: 315px">
            </div>
        </div>
    </div>
</div>
    
        <div class="container centered-content" style="margin-bottom: 20px;">
        <ul class="slider-buttons">
          <li data-slide="0"></li>
          <li data-slide="1"></li>
          <li  data-slide="2" class="last"></li>
        </ul>
    </div>
    <br />
</div>
<div class="background grey">
    <div class="signup-bar-container">
        <div class="signup-bar">
            <a href="browse" class="sbtn grey">EXPLORE APIs</a>
            <span class="prompts-copy">
                OR BUILD YOUR OWN 
            </span>
            <a href="" class="js-signup sbtn green">SIGN UP</a>
            <span class="one-hundred-percent"></span>
        </div>

    </div>
</div>
<div class="background blue">
    <div class="container">
        <h3 class="home-heading">
            WHAT DO YOU GET WITH AN API ENGINE ACCOUNT?
        </h3>
        <div class="feature-box">
            <div id="stylish" class="feature-1" style="margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">STYLISH DOCUMENTS</h4>
            <p class="feature-description">
                When you host your APIs with API Engine they're accessible, responsive and look great on all platforms.
            </p>
        </div>
        <div class="feature-box">
            <div id="collaboration" class="feature-2" style="margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">COLLABORATION</h4>
            <p class="feature-description">
                All APIs have integrated comment threads, allowing you to stay up to date with your colleagues, your customers, and followers.
            </p>
        </div>
        <div class="feature-box last">
            <div id="framework" class="feature-3" style="margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">FRAMEWORK AGNOSTIC</h4>
            <p class="feature-description">
                Platform independent schemas mean that your APIs are easy to build and don't require any prior programming knowledge.
            </p>
        </div>
        <div style="clear: both;">
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
</div>
<div class="background grey">
    <div class="signup-bar-container">
        <div class="signup-bar">
            <span class="prompts-copy">
                VIEW ALL
            </span>
            <a href="features" class="sbtn yellow">FEATURES</a>
        </div>
    </div>
</div>
<div class="background red">
    <div class="container">
    <h3 class="home-heading  red-panel" style="padding-bottom: 20px;">
      DID WE MENTION OUR GREAT LIST OF APIs?
    </h3>
    <span class="seo-desc">
      The list is growing daily and we've even made space to feature popular public APIs. So if you're an owner of a popular API we'll help to give it the get the exposure it deserves.
<br /><br />
So what are you waiting for? Jump in and start <a href="http://github.com/apiengine">exploring our APIs</a>
</span>
       <div id="cogs" style="width: 300px; height: 300px; float:right;"></div>
       <div style="clear: both;"></div>
  </div>

    <script>
        /*

      */
    </script>
</div>
<div class="background grey">
    <div class="social-networks-container">
        <div class="social-networks">
            <a href="http://twitter.com/apiengine"><span class="social-icon twitter"></span></a>
            <a href="https://www.facebook.com/APIEngine"><span class="social-icon facebook"></span></a>
            <a href="https://plus.google.com/u/0/118429439667165841211/posts"><span class="social-icon google"></span></a>
            <a href="http://twitter.com"><span class="social-icon rss"></span></a>
        </div>
    </div>
</div>
