<div class="background yellow">
    <div class="slides-container">
        <div class="slide slide1">
            <div class="heading-container">
                <span class="heading">
                    GREAT APPS START
                </span>
                <br />
                <span class="heading">
                    WITH GREAT APIs
                </span>
            </div>
            <span class="tag">
                Turbo-charge your RESTful APIs with our secure & collaborative API document builder
                & distribution platform.
            </span>
            <div id="swiffycontainer" style="width: 450px; height: 400px">
            </div>
        </div>
        <div class="slide slide2">
            <div class="heading-container">
                <span class="heading">
                    PRIVACY FOR YOUR
                </span>
                <br />
                <span class="heading">
                    INTERNAL PROJECTS
                </span>
            </div>
            <span class="tag">
                When privacy is paramount we have you covered, and you can switch between private & public any time.
            </span>
            <div id="swiffycontainer2" style="width: 450px; height: 400px">
            </div>
        </div>
        <div class="slide slide3">
            <div class="heading-container">
                <span class="heading">
                    PUBLIC APIs FOR
                </span>
                <br />
                <span class="heading">
                    MAXIMUM EXPOSURE
                </span>
            </div>
            <span class="tag">
                Connect with your people with social tools that keep you up to date and in the loop.
            </span>
            <div id="swiffycontainer3" style="width: 450px; height: 400px">
            </div>
        </div>
    </div>
    <br />
</div>
<div class="background grey">
    <div class="signup-bar-container">
        <div class="signup-bar">
            <a href="browse" class="sbtn grey">EXPLORE</a>
            <span class="prompts-copy">
                OUR LIST OF APIS OR
            </span>
            <a href="" class="js-signup sbtn green">SIGN UP</a>
        </div>
    </div>
</div>
<div class="background blue">
    <div class="container">
        <h3 class="home-heading">
            WHAT DO YOU GET WITH AN API ENGINE ACCOUNT?
        </h3>
        <div class="feature-box">
            <div id="stylish" style="width: 250px; height: 250px; margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">
                STYLISH DOCUMENTS
            </h4>
            <p class="feature-description">
                When you host your APIs on API Engine you can be confident that they are
                accessible and stylish on all platforms.
            </p>
        </div>
        <div class="feature-box">
            <div id="collaboration" style="width: 250px; height: 250px; margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">
                COLLABORATION
            </h4>
            <p class="feature-description">
                All APIs have integrated comment threads, allowing you to stay up to date
                with your colleagues, your customers, and followers.
            </p>
        </div>
        <div class="feature-box last">
            <div id="framework" style="width: 250px; height: 250px; margin: auto;">
            </div>
            <h4 class="blue-panel-feature-headings">
                FRAMEWORK AGNOSTIC
            </h4>
            <p class="feature-description">
                Platform independent schemas mean that your APIs are easy to build
                and don't require any prior programming knowledge.
            </p>
        </div>
        <div style="clear: both;">
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
</div>
<div class="background grey">
    <div class="signup-bar-container">
        <div class="signup-bar">
            <span class="prompts-copy">
                VIEW ALL
            </span>
            <a href="features" class="sbtn yellow">FEATURES</a>
        </div>
    </div>
</div>
<div class="background red">
    <div class="container">
    <h3 class="home-heading  red-panel" style="padding-bottom: 20px;">
      ADVANCED SEARCH ENGINE OPTIMIZATION
    </h3>
    <span class="seo-desc">
      The API Engine team brings together years of experience in the field of SEO. This means that your APIs get the maximum exposure possible, which is one less thing for you to worry about.
<br /><br />
Learn more about our SEO technology on <a href="http://github.com/apiengine">Github</a>
</span>
       <div id="cogs" style="width: 300px; height: 300px; float:right;"></div>
       <div style="clear: both;"></div>
  </div>

    <script>
        /*

      */
    </script>
</div>
<div class="background grey">
    <div class="social-networks-container">
        <div class="social-networks">
            <span>
                OUR SOCIAL CONNECTIONS
            </span>
            <span class="social-icon twitter"></span>
            <span class="social-icon facebook"></span>
            <span class="social-icon google"></span>
            <span class="social-icon rss"></span>
        </div>
    </div>
</div>
