<div class="background light-grey pricing-container ">
  <div class="container">
   <h2 class="pricing-heading">API PRICING PLANS</h2>
<span class="pricing-tag">Change or cancel an APIs plan at anytime. No contracts. No problems.</span>
<div class="tri-box yellow">
  <span class='heading'>LIMITED API</span>
</div>
<div class="tri-box green">
  <span class='heading'>PUBLIC API</span>
</div>
<div class="tri-box blue">
  <span class='heading'>PRIVATE API</span>
</div>
<div style="clear: both;"></div>

<div class="tri-box promo">
  <span class="free">FREE</span>
</div>
<div class="tri-box promo">
  <span class="price">$10</span><br />
  <span class="promo-desc">PER MONTH</span>
</div><div class="tri-box promo">

  <span class="price">$30</span><br />
  <span class="promo-desc">PER MONTH</span>
</div>
<div style="clear: both;"></div>

<div class="tri-box ">
  <ul>
    <li><span class="list-heading yellow">FEATURES</span></li>
    <li><span class="list-item">No collaboration</span></li>
    <li><span class="list-item">Comments & notifications</span></li>
    <li><span class="list-item">Viewable by API Engine users only</span></li>
    <li><div class="sign-up-and-create-btn"><button class="sbtn yellow js-signup">SIGN UP & CREATE</button></div></li>
  </ul>

</div>
<div class="tri-box ">
  <ul>
    <li><span class="list-heading green">FEATURES</span></li>
    <li><span class="list-item">Collaboration (optional)</span></li>
    <li><span class="list-item">Comments and notifications</span></li>
    <li><span class="list-item">Published to the web</span></li>
    <li><span class="list-item">Advanced SEO</span></li>
    <li><div class="sign-up-and-create-btn"><button class="sbtn green js-signup">SIGN UP & CREATE</button></div></li>
  </ul>

</div>
<div class="tri-box ">
  <ul>
    <li><span class="list-heading blue">FEATURES</span></li>
    <li><span class="list-item">Collaboration (optional)</span></li>
    <li><span class="list-item">Read and/or write collaborators</span></li>
    <li><span class="list-item">Comments and notifications</span></li>
    <li><span class="list-item">Secure authentication</span></li>
    <li><div class="sign-up-and-create-btn"><button class="sbtn blue js-signup">SIGN UP & CREATE</button></div></li>
  </ul>


</div>
<div style="clear: both;"></div>

<div class="tri-box yellow hidden"></div>
<div class="tri-box green">
  <span class='heading'>COLLABORATORS</span>
</div>
<div class="tri-box blue">
  <span class='heading'>COLLABORATORS</span>
</div>
<div style="clear: both;"></div>
<div class="tri-box "></div>
<div class="tri-box promo">
  <span class="price price-collab">$5</span><br />
  <span class="promo-desc">PER COLLABORATOR <br />PER MONTH</span>
</div><div class="tri-box promo">

  <span class="price price-collab">$5</span><br />
  <span class="promo-desc">PER COLLABORATOR <br />PER MONTH</span>
</div>
<div style="clear: both;"></div>
  </div>

</div>
<div class="background blue">
    <div class="container">
        <h3 class="enterprise-heading">NEED A GOVERNMENT OR ENTERPRISE SOLUTION?</h3>
            <p class="enterprise-desc"><a href="mailto:enterprise@apiengine.io">Contact us</a> to discuss a tailored solution.</p>
        <div style="clear: both;">
        </div>
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="background grey">
    <div class="social-networks-container">
        <div class="social-networks">
            <a href="http://twitter.com/apiengine"><span class="social-icon twitter"></span></a>
            <a href="https://www.facebook.com/APIEngine"><span class="social-icon facebook"></span></a>
            <a href="https://plus.google.com/u/0/118429439667165841211/posts"><span class="social-icon google"></span></a>
            <a href="http://apiengine.io/site.xml"><span class="social-icon rss"></span></a>
        </div>
    </div>
</div>
