<div class="background light-grey pricing-container">

<div class="tri-box yellow">
  <span class='heading'>LIMITED API</span>
</div>
<div class="tri-box green">
  <span class='heading'>LIMITED API</span>
</div>
<div class="tri-box blue">
  <span class='heading'>LIMITED API</span>
</div>
<div style="clear: both;"></div>

<div class="tri-box promo">
  <span class="free">FREE</span>
</div>
<div class="tri-box promo">
  <span class="price">$10</span><br />
  <span class="promo-desc">A MONTH</span>
</div><div class="tri-box promo">

  <span class="price">$30</span><br />
  <span class="promo-desc">A MONTH</span>
</div>
<div style="clear: both;"></div>


</div>
<div class="background blue"></div>