<div class="background white">
<div class=" container settings-container legal-container">
    <div class="settings-menu-container">
      <div class="settings-title-container">
        <span class="settings-title">Legal</span>
      </div>
      <div class="settings-menu-contents">
        <ul class="settings-menu">
          <li><a href="#legal/beacon" class="beacon ">Our values</a></li>
          <li><a href="#legal/privacy" class="privacy ">Privacy policy</a></li>
          <li><a href="#legal/security" class="security ">Security</a></li>
          <li><a href="#legal/support" class="support ">Support</a></li>
          <li><a href="#legal/terms" class="terms">Terms of Service</a></li>
          <li><a href="#legal/trademark" class="trademark">Trademarks</a></li>
          <li><a href="#legal/money" class="money">Our service fees</a></li>
        </ul>
      </div>
    </div>
    <div class="settings-page-container">
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
<div class="background grey">
    <div class="social-networks-container">
        <div class="social-networks">
            <a href="http://twitter.com/apiengine"><span class="social-icon twitter"></span></a>
            <a href="https://www.facebook.com/APIEngine"><span class="social-icon facebook"></span></a>
            <a href="https://plus.google.com/u/0/118429439667165841211/posts"><span class="social-icon google"></span></a>
            <a href="http://apiengine.io/site.xml"><span class="social-icon rss"></span></a>
        </div>
    </div>
</div>