<form class="form account-delete-form">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Delete account</h3>

	<p class="form-description">Are you sure you wish to delete your account?</p>

</div>
<div class="modal-footer">
    <div class="modal-buttons">
    	<button type="button" class="btn btn-regular js-close-modal">Cancel</button>
        <button type="submit" class="btn btn-red delete-confirm" data-action="destroy">DELETE</button>
    </div>
</div>

</form>
