<form class="feedback-form">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Feedback</h3>

    <ul class="modal-form-errors">
    </ul>
        <p class="thank-you" style="display: none;">Thank you for your feedback, we really appreciate it.</p>
        <textarea  style="" class="feedback-textarea" placeholder="Go for it, we're all ears..." name="message" type="text" required autofocus />
</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Send feedback</button>
        <button class="btn btn-red js-close-modal" style="display: none;">Close</button>
    </div>
</div>

</form>

<style>
  .feedback {
    background: #fff;
    width: 960px;
    margin: auto;
  }
</style>
