<form class="login">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Feedback</h3>

    <ul class="modal-form-errors">
    </ul>

        <textarea  style="margin-bottom: 30px;" placeholder="Email or username..." name="login" type="text" required autofocus />
     



</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Send</button><!--   <a class="modal-link" href="#/forgot_password">I forgot my password</a>-->
    </div>
</div>

</form>