<form class="inline-edit">
<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">

    <h3 class="modal-title">{{title}}</h3>

    <div class="modal-form-errors">
    	{{>errordef}}
    </div>

    <textarea name="field" class="inline-field">{{value}}</textarea>

</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue modal-confirm">{{savetext}}</button>   <button type="button" class="btn btn-regular js-close-modal">{{canceltext}}</button>
    </div>
</div>
</form>
