<form class="editdescription">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Edit Description</h3>

    <ul class="modal-form-errors">
    </ul>

        <textarea style="border: 1px solid #f0f0f0;" class="xx"></textarea><br />
     



</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Save</button>   <a class="modal-link" href="#/forgot_password">Cancel</a>
    </div>
</div>

</form>