<div class="modal-header"><span class="icon modal-close-icon">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Login</h3>
    <form class="login">
        <input  style="margin-bottom: 30px;" placeholder="Email or username..." name="login" type="text" required autofocus />
        <br />
        <input  style="margin-bottom: 30px;" name="password" type="password" required placeholder="Password..." />
     


    </form>

</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button class="btn btn-blue">Login</button>   <a class="modal-link" href="#/forgot_password">I forgot my password</a>
    </div>
</div>