
<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">MARKDOWN HELP</h3>

<div class="modal-col">
<h4>Phrase Emphasis</h4>
<p>Setext-style</p>
<div class="markdown-demo">
*italic* **bold**
_italic_ __italic__
</div>
</div>
<div class="modal-col">
<h4>Phrase Emphasis</h4>
<p>Setext-style</p>
<div class="markdown-demo">
*italic* **bold**
_italic_ __italic__
</div>
</div>
<div class="modal-col last">
<h4>Phrase Emphasis</h4>
<p>Setext-style</p>
<div class="markdown-demo">
*italic* **bold**
_italic_ __italic__
</div>


</div>
<div style="clear: both;"></div>
</div>
<div class="modal-footer">&nbsp;</div>

