<form class="form newapi">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">NEW API</h3>

    <div class="modal-form-errors">
    	<label class="form-error" for="name" data-errcode="api.name.invalid">Invalid API name. API names may contain letters, numbers, underscores and dashes only.</label>
    </div>

    <input placeholder="Enter the name of your API..." name="name" id="name" type="text" required autofocus />

	<label class="checkbox"><input type="checkbox" name="private" /> Create a private API</label>

</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Create API</button>
    </div>
</div>

</form>
