<div class="method-content form" style="display: none;">
    <div class="modal-form-errors">
    	{{>errordef}}
    </div>

    <input placeholder="Enter the name of your method" name="label" value="" type="text" required autofocus />
    <label for="method">Select method type:</label>
    <select name="method" id="method">
    	<option value="GET">GET</option>
    	<option value="POST">POST</option>
    	<option value="PUT">PUT</option>
    	<option value="DELETE">DELETE</option>
    </select>

</div>
