<form class="new-resource-form">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">NEW RESOURCE</h3>

    <ul class="modal-form-errors">
    </ul>

        <input  style="margin-bottom: 30px;" placeholder="Enter the label for your resource" name="label" value="" type="text" required autofocus />
        <br />
        <input  style="margin-bottom: 30px;" placeholder="Enter the url for your resource" name="resource" value="" type="text" required  />
      <br />


</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Create API</button>  
    </div>
</div>

</form>