<form class="newapi">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">NEW RESOURCE</h3>

    <ul class="modal-form-errors">
    </ul>

        <input  style="margin-bottom: 30px;" placeholder="Enter the name of your API..." name="name" type="text" required autofocus />
      <br />
        <input id="private" name="private" type="checkbox" />
        <label for="private" style="font-size: 12px;">Create a private API</label>
        <br />


</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Create API</button>  
    </div>
</div>

</form>