<form class="form new-resource-form">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">New resource</h3>

    <ul class="modal-form-errors">
    </ul>

    <input placeholder="Enter the name of your resource" name="label" value="" type="text" required autofocus />
    <input placeholder="Enter the url for your resource" name="resource" value="" type="text" required  />

</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Create resource</button>
    </div>
</div>

</form>
