<form class="register">

<div class="modal-header"><span class="icon modal-close-icon js-close-modal">&#88;</span></div>
<div class="modal-content">
    <h3 class="modal-title">Beta Sign up!</h3>
    <p class="alpha-message">Participate in our beta release.</p>
    <ul class="modal-form-errors">
    </ul>

        <input  style="margin-bottom: 30px;" name="email" type="email" required placeholder="Enter your email address..." />
        <br />
        <!--
        <input style="margin-bottom: 30px; display:none" name="login" type="text" required  placeholder="Enter a username..." />
        <br />
        <input class="last" name="password" type="password" placeholder="Enter a password..." required />
        <br />
    -->

</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-blue">Sign up!</button>
    </div>
</div>

</form>

