<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Account settings</span>
    <button class="btn btn-blue title-button">UPDATE</button>
  </div>
  <div class="settings-page-contents">
    <form class="form">
      <label>Account Email</label> 
      <input type="text" value="thomasdavis" />
      <span class="settings-title inline"><span class="arrows">»</span> Account password</span>
      <label>Old Password</label>
      <input type="password" value="Api Engine" />
      <label>New Password</label>
      <input type="password" value="" />
      <label>Verify New Password</label>
      <input type="password" value="" />
      <span class="settings-title inline"><span class="arrows">»</span> Delete account</span>
      <p class="form-description">Deleting your account will also delete your APIs. APIs you are collaborating on will not be deleted.</p>
      <button class="btn btn-red">Delete account</button>
    </form>
  </div>