<form class="form update-account">
<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Account settings</span>
</div>
<div class="settings-page-contents">
	<div class="form-errors">
		{{>errordef}}
	</div>
	<div class="form-success">
		<label class="form-ok">Account details updated successfully.</label>
	</div>

	<label>Account Email</label>
	<input type="email" value="{{user.email}}" name="email" />

	<span class="settings-title inline"><span class="arrows">»</span> Account password</span>
	<label>Old Password</label>
	<input type="password" name="current_password" id="current_password" value="" />
	<label>New Password</label>
	<input type="password" name="password" value="" />
	<label>Verify New Password</label>
	<input type="password" name="password_check" id="password_check" value="" />

	<div class="form-submit">
	    <button type="submit" class="btn btn-blue">UPDATE</button>
	</div>

	<span class="settings-title inline"><span class="arrows">»</span> Delete account</span>
	<p class="form-description">Deleting your account will also delete your APIs. APIs you are collaborating on will not be deleted.</p>
	<button type="button" class="btn btn-red delete-button">Delete account</button>
</div>
</form>
