<style>
.card-info-container {
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 50px;
}
.card-info-title {
	font-size: 20px;
	font-family: "Nexa";
}
.card-info-desc {
	font-size: 12px;
	color: #6b6d70;
}
</style>
<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Billing settings</span>
  </div>
  <div class="settings-page-contents">
    <form class="form">
		<div class="card-info-container">
			<span class="card-info-title">YOUR SECURITY IS OUR SECURITY</span>
			<p class="card-info-desc">We ensure that all API Engine payment details and transactions adhere to Payment Card Industry Data Security Standards (PCI-DSS) Procedures. </p>
			<div class="cards"></div>
		</div>
		      <label>Card Holder Name</label>
      <input type="text" placeholder="Mr Joe Blogs" />
      <label>Credit Card Number</label>
      <input type="text" placeholder="XXXX XXXX XXXX XXXX" />

		<div class="form-submit">
		    <button type="submit" class="btn btn-blue">UPDATE</button>
		</div>
    </form>
  </div>
