<div class="settings-title-container">
    <span class="settings-title">Notifications settings</span>
    <button class="btn btn-blue title-button">UPDATE</button>
  </div>
  <div class="settings-page-contents">
    <form class="form">
      <strong>APIS</strong>
      <label>Send me an email when somebody starts following one of my API's</label>
      <button type="button" class="btn btn-right-join btn-green">Yes</button>
      <button type="button" class="btn btn-left-join btn-regular">No</button>
    </form>
  </div>