<style>
.notification-setting{
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ccc;
  position: relative;
  text-align: right;
}
.notification-setting label{
  float: left;
  color: #6b6d70;
  margin-bottom: 0;
}
.notification-title {
  border-bottom: 1px solid #ccc;
  display: block;
  padding-bottom: 5px;

}
.notification-title.inline, .settings-page-contents .form-submit {
  margin-top: 50px;
}
.notification-setting .button-group {
  display: inline-block;
   vertical-align: middle;
}
</style>
<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Notifications settings</span>
  </div>
  <div class="settings-page-contents">
    <form class="form notification-settings">
      <span class="notification-title">APIS</span>
      <div class="notification-setting">
        <label>Send me an email when somebody starts following one of my APIs</label>
        <div class="button-group toggle" id="followed">
        	<input name="followed" type="hidden" value="1" />
          <button type="button" class="btn btn-right-join btn-regular" value="1">Yes</button>
          <button type="button" class="btn btn-left-join btn-regular" value="0">No</button>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="notification-setting">
        <label>Send me an email when someone comments on one of my APIs</label>
        <div class="button-group toggle" id="commented">
        	<input name="commented" type="hidden" value="1" />
          <button type="button" class="btn btn-right-join btn-regular" value="1">Yes</button>
          <button type="button" class="btn btn-left-join btn-regular" value="0">No</button>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="notification-setting">
        <label>Send me an email when someone shares on one of my APIs</label>
        <div class="button-group toggle" id="shared">
        	<input name="shared" type="hidden" value="0" />
          <button type="button" class="btn btn-right-join btn-regular" value="1">Yes</button>
          <button type="button" class="btn btn-left-join btn-regular" value="0">No</button>
        </div>
      </div>
    <span class="notification-title inline">Other</span>
      <div class="notification-setting">
        <label>Send me API Engine update emails</label>
        <div class="button-group toggle" id="apie-optin">
        	<input name="apie-optin" type="hidden" value="1" />
          <button type="button" class="btn btn-right-join btn-regular" value="1">Yes</button>
          <button type="button" class="btn btn-left-join btn-regular" value="0">No</button>
        </div>
        <div style="clear: both;"></div>
      </div>

	<div class="form-submit">
	    <button type="submit" class="btn btn-blue">UPDATE</button>
	</div>

    </form>
  </div>
