<style>
.settings-menu-container {
  float: left;
  width: 230px;
}
.settings-page-container {
  float: left;
  width: 794px;
}
.settings-title-container {
  padding-bottom: 10px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.settings-menu {
  border-left: 1px solid #ebebeb;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ebebeb;
}
.settings-menu li {
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid #ebebeb;
}
.settings-menu li a {
  color:#4A92FD;
  text-decoration: none;
}
.title-button {
  float: right;
}
.settings-page-contents {
  padding: 40px 0 40px 40px;
}
</style>

<div class="settings-menu-container">
  <div class="settings-title-container">
    <span class="settings-title">Settings</span>
  </div>
  <div class="settings-menu-contents">
    <ul class="settings-menu">
      <li><a href="">Profile settings</a></li>
      <li><a href="">Account settings</a></li>
      <li><a href="">Notifications</a></li>
      <li><a href="">Billing information</a></li>
      <li><a href="">Transaction history</a></li>
    </ul>
  </div>
</div>
<div class="settings-page-container">
  <div class="settings-title-container">
    <span class="settings-title">Profile settings</span>
    <button class="btn btn-blue title-button">UPDATE</button>
  </div>
  <div class="settings-page-contents">
    FORM GOES HERE
  </div>
</div>
<div style="clear: both;"></div>