<div class="settings-container">
  <div class="settings-menu-container">
    <div class="settings-title-container">
      <span class="settings-title">Settings</span>
    </div>
    <div class="settings-menu-contents">
      <ul class="settings-menu">
        <li><a href="<%= user.login %>/settings/profile" class="profile ">Profile settings</a></li>
        <li><a href="<%= user.login %>/settings/account" class="account">Account settings</a></li>
        <li><a href="<%= user.login %>/settings/notifications" class="notifications">Notifications</a></li>
        <li><a href="<%= user.login %>/settings/billing" class="billing">Billing information</a></li>
        <li><a href="<%= user.login %>/settings/history" class="history">Transaction history</a></li>
      </ul>
    </div>
  </div>
  <div class="settings-page-container">

  </div>
  <div style="clear: both;"></div>
</div>
