<style>
.settings-menu-container {
  float: left;
  width: 230px;
}
.settings-page-container {
  float: left;
  width: 794px;
}
.settings-title-container {
  padding-bottom: 10px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.settings-menu {
  border-left: 1px solid #ebebeb;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ebebeb;
}
.settings-menu li {
  border-bottom: 1px solid #ebebeb;
}
.settings-menu li a {
  padding: 15px 10px 15px 10px;
  display: block;
  color:#4A92FD;
  text-decoration: none;
}
.settings-menu li a.active {
  background: #444;
  color: #ebebeb;
}
.settings-menu li a:hover {
  background: #ebebeb;
}
.title-button {
  float: right;
}
.settings-page-contents {
  padding: 40px 0 40px 40px;
}
</style>
<div class="settings-menu-container">
  <div class="settings-title-container">
    <span class="settings-title">Settings</span>
  </div>
  <div class="settings-menu-contents">
    <ul class="settings-menu">
      <li><a href="<%= user.login %>/settings/profile" class="profile">Profile settings</a></li>
      <li><a href="<%= user.login %>/settings/account" class="account">Account settings</a></li>
      <li><a href="<%= user.login %>/settings/notifications" class="notifications">Notifications</a></li>
      <li><a href="<%= user.login %>/settings/billing" class="billing">Billing information</a></li>
      <li><a href="<%= user.login %>/settings/history" class="history">Transaction history</a></li>
    </ul>
  </div>
</div>
<div class="settings-page-container">
  
</div>
<div style="clear: both;"></div>