    <form class="form profile-form">
<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Profile settings</span>
    <button type="submit" class="btn btn-blue title-button">UPDATE</button>
  </div>
  <div class="settings-page-contents">





      <!--
      <div class="profile-pic-input">
        <label>Profile image</label>
        <img class="profile-box-pic" src="http://www.gravatar.com/avatar/4a0b4b7ac54e843f9b3bad0689096b86.jpg?s=150">
      </div>
      -->
      <label>Name</label> 
      <input type="text" name="name" placeholder="Your full name..." />
      <label>Description</label>
      <textarea name="description" placeholder="Tell us about yourself..."></textarea>
      <label>Company</label>
      <input type="text" name="company" placeholder="Where are you working?" />
      <label>Website</label>
      <input type="text" name="website" placeholder="http://" />
      <label>Location</label>
      <input type="text" name="location" placeholder="Where do you live?" />
    <span class="settings-title inline"><span class="arrows">»</span> Social settings</span>
      
       <label><img class="favicon" src="http://twitter.com/favicon.ico" />Twitter</label>
      <input type="text" placeholder="The url to your twitter profile" />

             <label><img class="favicon" src="http://facebook.com/favicon.ico" />Facebook</label>
      <input type="text" placeholder="The url to your facebook profile" />

             <label><img class="favicon" src="http://stackoverflow.com/favicon.ico" />Stack Overflow</label>
      <input type="text" placeholder="The url to your stack overflow profile" />

             <label><img class="favicon" src="http://linkedin.com/favicon.ico" />Linkedin</label>
      <input type="text" placeholder="The url to your linkedin profile" />


             <label><img class="favicon" src="http://github.com/favicon.ico" />Github</label>
      <input type="text" placeholder="The url to your github profile" />

             <label><img class="favicon" src="http://plus.google.com/favicon.ico" />Google+</label>
      <input type="text" placeholder="The url to your google profile" />

  </div>

    </form>