<form class="form profile-form">
<div class="settings-title-container">
    <span class="settings-title"><span class="arrows">»</span> Profile settings</span>
</div>
<div class="settings-page-contents">
      <!--
      <div class="profile-pic-input">
        <label>Profile image</label>
        <img class="profile-box-pic" src="http://www.gravatar.com/avatar/4a0b4b7ac54e843f9b3bad0689096b86.jpg?s=150">
      </div>
      -->
      <label>Name</label>
      <input type="text" name="name" value="{{user.attributes.name}}" placeholder="Your full name..." />
      <label>Description</label>
      <textarea name="description"  placeholder="Tell us about yourself...">{{user.attributes.description}}</textarea>
      <label>Company</label>
      <input type="text" name="company" value="{{user.attributes.company}}" placeholder="Where are you working?" />
      <label>Website</label>
      <input type="text" name="website" value="{{user.attributes.website}}" placeholder="http://" />
      <label>Location</label>
      <input type="text" name="location" value="{{user.attributes.location}}" placeholder="Where do you live?" />

	<div class="form-submit">
	    <button type="submit" class="btn btn-blue">UPDATE</button>
	</div>

    <span class="settings-title inline"><span class="arrows">»</span> Social settings</span>

       <label><img class="favicon" src="http://twitter.com/favicon.ico" />Twitter</label>
      <input name="twitter" value="{{user.attributes.twitter}}" type="text" placeholder="Your twitter username" />

             <label><img class="favicon" src="http://facebook.com/favicon.ico" />Facebook</label>
      <input name="facebook" value="{{user.attributes.facebook}}"  type="text" placeholder="Your facebook username or id" />

             <label><img class="favicon" src="http://stackoverflow.com/favicon.ico" />Stack Overflow</label>
      <input name="stackoverflow" value="{{user.attributes.stackoverflow}}"  type="text" placeholder="Your stackoverflow numeric id" />

             <label><img class="favicon" src="http://linkedin.com/favicon.ico" />Linkedin</label>
      <input name="linkedin" value="{{user.attributes.linkedin}}"  type="text" placeholder="Your linked in username" />


             <label><img class="favicon" src="http://github.com/favicon.ico" />Github</label>
      <input name="github" value="{{user.attributes.github}}"  type="text" placeholder="Your Github username" />

             <label><img class="favicon" src="http://plus.google.com/favicon.ico" />Google+</label>
      <input name="google" value="{{user.attributes.google}}"  type="text" placeholder="Your Google Plus id" />

	<div class="form-submit">
	    <button type="submit" class="btn btn-blue">UPDATE</button>
	</div>
</div>
</form>
