<div class="footer background dark-grey">
  <div class="box-container container">
    <div class="box small">
          <div class="small-container">
    <span class="box-title">API ENGINE</span>
    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#features">Features</a></li>
    </ul>
    </div>
    </div>
    <div class="box small">
      <div class="small-container">
    <span class="box-title">OPEN SOURCE</span>
    <p class="footer-desc">The API Engine team are active in the Open Source community.</p>
    <p class="footer-desc">Visit our Open Source home page on Github to find out more about our Open Source projects.</p>
    <ul class="footer-links">
      <li><a href="http://apiengine.github.com">API Engine on Github</a>
    </ul>
    </div>
    </div>
    <div class="box small">
      <div class="small-container">
    <span class="box-title">HELP</span>
    <ul class="footer-links">
      <li><a href="">Getting started</a></li>
      <li><a href="">Creating APIs</a></li>
      <li><a href="">Managing APIs</a></li>
      <li><a href="">Collaborators</a></li>
    </ul>
    </div>
    </div>
    <div class="box small last">
          <div class="last small-container">
    <span class="box-title">CONTACT US</span>
    <p class="footer-desc">Have something to say? <br />We'd love to hear about it.</p>

      <button class="btn btn-blue js-feedback">Contact</button>

  </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="legal-and-copyright">
    <div class="footer-terms-container">
      <ul class="footer-terms">
        <li><a href="">Disclaimer</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Security</a></li>
        <li class="last"><a href="">Terms of service</a></li>
      </ul>
    <div style="clear: both;"></div>
    <div class="copyright">API ENGINE INC. © 2012 - MADE IN <a href="http://en.wikipedia.org/wiki/Brisbane">BRIS VEGAS</a></div>
  </div>
</div>