<style>
  .login-container {
    width: 960px;
    margin: auto;
    background: #fff;
  }
  .login-form-container {
    padding: 20px;
  }
</style>

<div class="login-container">
  <div class="login-form-container">
   <p>Hello, <%= username %>. 
<p>“I didn't choose the thug life, the thug life chose me.” 
― Tupac Shakur</p>
<form action="" class="post-track"  method="post">
<p>
Type some text (if you like):<br>
<input type="text" name="name" size="30">
</p>
<p>
Please specify a file, or a set of files:<br>
<input type="text" name="url" size="40">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>
  </div>
</div>
