<div class="container">
<div class="api-container">
  <style>
 
  </style>



  <div style="position: relative; margin-top: 30px;">
    <div class="api-icon-col">
      <div class="cog-power" style="border: 1px solid #ccc; width: 150px; height: 150px; float: left"></div>
    </div>
    <div class="api-desc-col">
      <div style="padding-left: 15px;">
        <h1 class="api-name" style=""><%= api.get('api') %></h1>
        <ul class="quicklinks">
          <li><span class="icon">f</span><a href="#">Danny Ells</a></li>
          <li><span class="icon">J</span><a href="#">Photography</a></li>
        </ul>
        <div style="clear: both;"></div>
        <p style="" class="api-description">Mauris ut purus quam, ut vulputate risus. Fusce ac risus tellus. Praesent fermentum aliquam lectus sit amet tristique. In eget magna diam, non tristique neque. Sed fermentum, risus at posuere accumsan, velit sem hendrerit dolor, et sodales neque turpis id quam. In est turpis, feugiat ac tempor in, ultrices sit amet justo. Nullam risus quam, accumsan at dignissim et, mollis interdum urna.</p>
      </div>
  </div>
  <div class="api-actions-col">
    <ul class="actions-menu">
      <li><a class="btn btn-green">Following</a></li>
    </ul>
  </div>
    <div style="clear: both;"></div>

  <div class="tabs-container">
    <ul class="tabs">
      <li class="active"><a href=""><span class="icon">V</span>API v1.7</a></li>
      <li><a href=""><span class="icon">9</span>Global activity</a></li>
      <li><a href=""><span class="icon">g</span>4 Collaborators</a></li>
      <li><a href=""><span class="icon">o</span>Deprecated versions</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
    <div style="clear: both;"></div>

  <div class="row-fluid">

  	<div class="span2" style="width: 300px; float: left;">
      <div class="api-main-menu">
        <div class="menu-title">
          RESOURCES
        </div>
      
      <ul class="main-menu-list">
        <li><a href=""><span class="icon">E</span>Overview</a></li>
        <li><a href=""><span class="icon">B</span>Document</a></li>
      </ul>
      </div>
  		<div class="resource-list-container">
  			Loading resources
  		</div>
  	</div>
  	<div class="" style="float: left; width: 684px; margin-left: 40px;">
  		<div class="method-container">
  		</div>
  	</div>

  </div>




</div>
</div>