<div class="api-details-container">

  <div class="side-menu">
    <div class="menu-title">
      API map
    </div>
    <div class="api-menu-container">
		<button class="ebtn ebtn-blue js-new-resource">Add a new resource</button>
		<button class="ebtn ebtn-blue js-new-method">Add a new method</button>

		<ul class="api-menu-list api-overview" data-api-id="{{api}}">
			<li>
				<a href="#{{user}}/{{api}}/version/{{version}}" class="overview-link">
					Overview
					<span class="api-notification notification"></span>
				</a>
			</li>
		</ul>
		<div class="resource-list-container">
			Loading resources
		</div>
    </div>
  </div>
  <div class="" style="float: left; width: 722px;">
    <div class="docs-container">
    </div>
  </div>
</div>
