

<div class="method-edit-container well">
  <form class="form-horizontal edit-api">
  <fieldset>
    <legend>Create a new API</legend>
    <div class="control-group">
      <label class="control-label" for="input02">API Name</label>
      <div class="controls">
               
          <input name="name" type="text" required autofocus />
      </div>
      </div>
      <div class="control-group">
      <label class="control-label" for="input01">Resource URL</label>
      <div class="controls">       <input type="radio" name="private" value="0" checked /> Public<br />
  <input type="radio" name="private" value="1" /> Private
      </div>
      </div>

<div class="form-actions">
            <button id="submit" type="submit" class="btn btn-primary">Create API</button>
            <a class="btn" href="#/">Cancel</a>
          </div>


    </div>
  </fieldset>
      <% _.each(errors, function (error) { %>
    <p class="error"><%= error %></p>
    <% }); %>
</form>