 <% if(!is_public) { %>
<div class="btn-group">
	<a class="btn btn-primary" href="#/apis/edit">New API</a>
</div>
  <hr />

<% }; %>
<ul class="nav nav-list">
  <li class="nav-header">
    <%= is_public === true ? "Public APIs" : "My APIs" %>
  </li>
    <% if(apis.length > 0) { 
    	_.each(apis, function(api){ 

    	%>



  <li>
    <a href="#/apis/<%= api.id%>">
    	<% if(api.get('private_api') === true) { %>
    		<i class="icon-lock"></i>
    	<% }; %>
    	<%= api.get('name') %>
    </a>
  </li>

  <% }) } else { %>
  <li>
    No APIs
  </li>
  <% }; %>
</ul>