  <% if(currentUser) { %><div class="well">
 <div class="btn-group js-api-filter" data-toggle="buttons-radio" style="width: 400px; display: block; float: left;">


  <button class="btn btn-info">My API's</button>
  <button class="btn btn-info">Watched API's</button>

</div>

  <a class="btn btn-primary js-new-api-button" style="float: right;" href="">New API</a>
</div> 
  <% } else { %>

  <% }; %>
 <% if(!is_public) { %>
  <hr />

<% }; %>
    <% if(apis.length > 0) { 
    	_.each(apis, function(api){ 

    	%>

<div class="well">
  
    <a href="<%= api.get('user') %>/<%= api.get('name') %>/version/<%= api.get('versions')[0] %>">
    	<% if(api.get('private') === true) { %>
    		<i class="icon-lock"></i>
    	<% }; %>
    	<%= api.get('name') %>
    </a> /
     <a href="<%= api.get('user') %>">
 
      <%= api.get('user') %>
    </a> 
    <p>Google Compute Engine offers scalable and flexible virtual machine computing capabilities in the cloud. With Google Compute Engine, you can solve large scale processing and analytic problems on Google’s computing, storage, and networking infrastructure. 
      <p>Version - 
      <%= api.get('versions')[0] %>
    </p>
    </p>
</div>
  <% }) } else { %>
  <div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">Oh my goodness!</h4>
    This user has no API's
</div>
  <% }; %>
</ul>




<div class="modal hide" id="js-new-api-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit profile</h3>
  </div>


<div class="method-edit-container well">
  <form class="form-horizontal edit-api js-new-api-form">
  <fieldset>
    <legend>Create a new API</legend>
    <div class="control-group">
      <label class="control-label" for="input02">API Name</label>
      <div class="controls">
               
          <input name="name" type="text" required autofocus />
      </div>
      </div>
      <div class="control-group">
      <label class="control-label" for="input01">Resource URL</label>
      <div class="controls">       <input type="radio" name="private" value="0" checked /> Public<br />
  <input type="radio" name="private" value="1" /> Private
      </div>
      </div>

<div class="form-actions">
            <button id="submit" type="submit" class="btn btn-primary">Create API</button>
            <a class="btn" href="#/">Cancel</a>
          </div>


    </div>
  </fieldset>

</form>

</div>
</div>