
<div class="method-edit-container well">
  <form class="form-horizontal edit-method">
  <fieldset>
    <legend>Edit Method</legend>
    <div class="control-group">
      <label class="control-label" for="input02">Method Type</label>
      <div class="controls">
                <select class="btn" name="type">
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
          <option value="POST">POST</option>
          <option value="GET">GET</option>
        </select>
      </div>
      </div>
      <div class="control-group">
      <label class="control-label" for="input01">Resource URL</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="resource" id="input01" required autofocus />
        <p class="help-block">e.g. /users, /users/:id</p>
      </div>
      </div>
      <div class="control-group">
      <label class="control-label" for="input01">Description</label>
      <div class="controls">
        <textarea type="text" class="input-xlarge" name="description" id="input01" required autofocus />
        <p class="help-block">e.g. /users, /users/:id</p>
      </div>
      </div>
<div class="form-actions">
            <button id="submit" type="submit" class="btn btn-primary">Create method</button>
            <button class="btn">Cancel</button>
          </div>


    </div>
  </fieldset>
      <% _.each(errors, function (error) { %>
    <p class="error"><%= error %></p>
    <% }); %>
</form>