
  <div class="modal hide" id="js-new-method-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Method</h3>
    </div>


  <div class="method-edit-container well">
    <form class="form-horizontal edit-api js-new-method-form">
    <fieldset>
      <legend>Create a new method</legend>
    <div class="control-group">
              <label class="control-label" for="select01">Method Type</label>
              <div class="controls">
                <select name="method" id="select01">
                  <% _.each(methodTypes, function (type) { %>
                  <option value="<%= type %>" <%= type === method.get('method') ? 'selected' : ''%>><%= type %></option>


                  <% }); %>
                </select>
              </div>
            </div>
   <div class="control-group">
        <label class="control-label" for="input02">Method Label</label>
        <div class="controls">
                 
            <input name="label" value="<%= method.get('label') %>" type="text" required autofocus />
        </div>
        </div>
      <div class="control-group">
      <label class="control-label" for="input01">Description</label>
      <div class="controls">
        <textarea type="text" class="input-xlarge"  name="description" id="input01" required><%= method.get('description') %></textarea>
        <p class="help-block">e.g. /users, /users/:id</p>
      </div>
      </div>

            <div class="form-actions">
              <button id="submit" type="submit" class="btn btn-primary">Create Method</button>
              <a class="btn" href="#/">Cancel</a>
            </div>
            <% if(typeof method.get('id') !== 'undefined') { %>
      <input name="id" type="hidden" value="<%= method.get('id') %>" required  />
      <% }; %>

      </div>
    </fieldset>

  </form>

  </div>
  </div>