


<ul class="method-list" style="">

			 <% _.each(methods.models, function (method) { %>
 				<li data-method-id="<%= method.method %>" class="<%= selectedMethod === method.method ? 'active' : '' %>">

<span class="method method-<%= method.get('method') %>"><%= method.get('method') %></span> - 
<a style="text-decoration: none; color: #444;" data-method-id="<%= method.get('method') %>" href="<%= methods.username%>/<%= methods.api%>/version/<%= methods.version %>/resource/<%= methods.resourceId%>/<%= method.get('method') %>">
<%= method.get('label') %> 
</a>
			  </li> 
			 <% }); %>


</ul>     