
<div class="menu-title">

    <h2 style="margin: 0;" class="method-title">{{method.attributes.label}}</h2>
</div>
    
<div class="method-page-container">
   <section class="method-section">
   <h3>HTTP request</h3>
   <div class="http-request">
<span class="method method-{{method.attributes.method}}">{{method.attributes.method}}</span>
       <span class="http-request-text">{{resourceUrl}}</span>
      </div>
    </section>
   <section class="method-section">
   <h3>Method notes</h3>
  
    <p class="descriptive">{{method.attributes.description}} Fusce ac risus tellus. Praesent fermentum aliquam lectus sit amet tristique. In eget magna diam, non tristique neque. Sed fermentum, risus at posuere accumsan, velit sem hendrerit dolor, et sodales neque turpis id quam. In est turpis, feugiat ac tempor in, ultrices sit amet justo. Nullam risus quam, accumsan at dignissim et, mollis interdum urna.<p>
    </section>
   <section class="method-section">

   <h3>Request</h3>
   <h4>Headers</h4>
<table class="bodybuilder {{method.attributes.method}}">
  <thead>
    <tr>
      <th>Parameter name</th>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>field</td>
      <td>string</td>
      <td><p class="fixie"></p></td>
    </tr>
  </tbody>
</table>

   <h4>Body</h4>
<table class="bodybuilder {{method.attributes.method}}">
  <thead>
    <tr>
      <th>Parameter name</th>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>field</td>
      <td>string</td>
      <td><p class="fixie"></p></td>
    </tr>
    <tr>
      <td>field</td>
      <td>string</td>
      <td><p class="fixie"></p></td>
    </tr>
  </tbody>
</table>
</section>
<!--
<h3>Request</h3>
<table class="table request-table">
      <thead>
        <tr>
          <th>Property Name</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
   
      <tr id="items">
        <td><code>Accept</code></td>
        <td><code class="apitype">application/json, text/javascript</code></td>
        <td>Some description about this request header</td>
      </tr>
      <tr id="nextPageToken">
        <td><code>X-Requested-With</code></td>
        <td><code class="apitype">XMLHttpRequest</code></td>
        <td>For security reasons this request header must be set, sometimes we might write really long descriptions. <br /><br />These could go on for a long time and I have no idea what they might say. They might also contain headings. Who knows how long a description column could be maybe we could throw. Constraints on it and keep users in the dark for this and that.

          Restrict information returned for simplicity and optimization.

          <br><br>Acceptable values are:
          <ul>
            <li>"<code>BASIC</code>" - Includes only the basic metadata fields (as of Drive API v1, this includes all fields).
            </li>
            <li>"<code>FULL</code>" - Includes all metadata fields.
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>

<div style="padding: 0 0 0 30px;">
<h4>Body</h4>


<table class="table request-table">
      <thead>
        <tr>
          <th>Property Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <tr id="kind">
        <td><code>somearrays[]</code></td>
        <td><code class="apitype">array</code></td>
  
      </tr>
      <tr id="id">
        <td><code style="margin-left: 20px;">id</code></td>
        <td><code class="apitype">string</code></td>
        
      </tr>
      <tr id="id">
        <td><code style="margin-left: 20px;">someobject{}</code></td>
        <td><code class="apitype">object</code></td>
      </tr>
      <tr id="selfLink">
        <td><code style="margin-left: 40px;">selfLink</code></td>
        <td><code class="apitype">string</code></td>
      </tr>      
      <tr id="id">
        <td><code style="margin-left: 20px;">somestring</code></td>
        <td><code class="apitype">object</code></td>
      </tr>
      <tr id="items">
        <td><code>items[]</code></td>
        <td><code class="apitype">list</code></td>
      </tr>
      <tr id="nextPageToken">
        <td><code>nextPageToken</code></td>
        <td><code class="apitype">string</code></td>
      </tr>
      </tbody>
    </table>


  <h3>Mock Server Url</h3>
        <code class="xml" style="display: block; width: 100%; margin-top: 10px; margin-bottom: 20px;">
      http://mockserver.apiengine.com/someserver/user/{user}
    </code>

<h3>Code Demos</h3>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Curl</a></li>
  <li><a href="#profile">Node.js</a></li>
  <li><a href="#messages">Rails</a></li>
  <li><a href="#settings">jQuery</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">
<pre>
<code class="xml">
curl  url -i -H "Accept: application/json" http://192.168.0.165/persons/person/1  
</code>
</pre>
  </div>



</div>
-->

<div class="comments-container">aa</div>

</div>