<h3>Tested against http://apidocco.com</h3>
<p>Concept - apidocco.com exposes a restful url, that allows you to supply an API id and a base URL to test against.   Apidocco automatically calls all the urls in API schema built here and prepends them with the requested base URL.   Then you can simply throw into your server build scripts an assertion to check that all the described API calls are actually met by the server.</p>
<table class="table-striped table-bordered table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Resource</th>
      <th>Request</th>
      <th>Request Body</th>
      <th>Status code</th>
      <th>Request Response</th>
    </tr>
  </thead>
  <tbody>
  	<% _.each(methods, function (method) { %>
    <tr>
      <td><%= method.type %></td>
      <td><%= method.resource %></td>
      <td><%= method.requests[0].name %></td>
      <td><%= method.requests[0].request %></td>
      <td><%= method.requests[0].statusCode %></td>
      <td><%= typeof method.requests[0].actualResponse === 'string' ? method.requests[0].actualResponse : JSON.stringify(method.requests[0].actualResponse) %></td>
    </tr>
    <% }); %>
  </tbody>
</table>



