<ul class="nav nav-list">
	<li>
		<button class="btn js-new-resource">New Resource</button>
	</li>

	<% 
	var lastTag = '';
	_.each(resources.models, function (resource) { 
		

		if(lastTag !== resource.get('tag')) {
		%>
	  <li class="nav-header">
    <%= resource.get('tag') %>
  </li>	
  <%
  };
  lastTag = resource.get('tag');
  %>
	<li class="<%= selectedResource*1 === resource.id ? 'active' : '' %>" data-resource-id="<%= resource.id %>">
    <a href="<%= resources.username%>/<%= resources.api%>/version/<%= resources.version %>/resource/<%= resource.id%>">
			<%= resource.get('label') %>
	  </a>
	</li>
  <% }); %>
	<!--
			  <li class="active">
	<a href="#">
			     /resources/some
			    </a>
			  </li> 
			  	 <li class="nav-header">
	    Resources
		  </li>	  <li class="nav-header">
			     /resources/some
			  	<ul class="nav nav-list">
				<li>
	
				</li>	 
			  <li>
			    <a href="#">
			      <span class="badge badge-method-type badge-PUT">PUT</span>
			      <span class="method-name">
			      	Update a user
			      </span><span class="badge badge-info notification-total">2</span>
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <span class="badge badge-method-type badge-POST">POST</span>
			      <span class="method-name">Create a blank user</span>
			    </a>
			  </li>
			  			  <li>
			    <a href="#">
			      <span class="badge badge-method-type badge-GET">GET</span>
			      <span class="method-name">Get a list of users</span><span class="badge badge-info notification-total">6</span>
			    </a>
			  </li>
			  			  <li>
			    <a href="#">
			      <span class="badge badge-method-type badge-DELETE">DELETE</span>
			      <span class="method-name">Delete a user</span>
			    </a>
			  </li>
			</ul>
			  </li> 
			   	 <li class="nav-header">
	    Comments
		  </li>	  <li class="">
	<a href="#">
			     /comments/
			    </a>
			  </li> 
			  
			  <li class="">
			    <a href="#">
			     /resources/some
			    </a>
			  </li> 
			-->
			</ul>