<style>
  .resource-list { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .resource-list > li {
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    min-height: 48px;
    padding: 0;
    margin: 0;
  }
  .resource-list .icon {
    color: #161717;

  }
  .resource-list > li > div > a {
    text-decoration: none;
    color: #4a92fd;
    display: block;
    height: 48px;
    float: left;
    width: 203px;
    line-height: 48px;
  }
  .method-list { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .method-list li {
  }
  .method-list li a {

    text-decoration: none;
    color: #444;
  }
  .method-list .method {
    margin-left: 25px;
    margin-right: 5px;
  }
  .method {
    font-size: 10px;
    padding: 4px;
    border-radius: 4px;
    width: 34px;
    display: inline-block;
    font-family: "AllerLight";
    text-align:center;
    color: #fff;
    font-weight: bold;
    margin-right: 7px;
  }
  .method-POST {
    background: #449122;
  }
  .method-DELETE {
    background: #ce3442;
  }
  .method-PUT {
    background: #e0871e;
  }
  .method-GET {
    background: #2b82c5;
  }
  .expand {
    width: 25px;
    text-align: center;
    margin-left: 10px;
    height: 48px;
    float: left;
    line-height: 48px;
    cursor: pointer;
    font-size: 14px;
    color: #ccc !important;
  }
  .expand:hover {
    background: #eee;

  }

</style>

<ul class="resource-list">
  <% 
  _.each(resources.models, function (resource) { 
    

  %> 
  <li class="<%= selectedResource*1 === resource.id ? 'active' : '' %>" data-resource-id="<%= resource.id %>">
    <div style="">
    <div class="expand icon">/</div> 
    <a data-resource-id="<%= resource.id %>" href="<%= resources.username%>/<%= resources.api%>/version/<%= resources.version %>/resource/<%= resource.id%>">
       <span class="icon">K</span> <%= resource.get('label') %>
    </a>
    <div style="clear: both;"></div>
    </div>
  </li>
  <li style="display: none; border-top: none;">
    <div class="method-sublist-container">
      <div style="line-height: 48px;margin-left: 35px;"><div class="ajax-cog" style="margin-top: 14px;float: left; margin-right: 5px;"></div> <span style="color: #ccc;">Loading</span></div>
    </div> 
  </li>
  <% }); %>

<!--
	<% 
	var lastTag = '';
	_.each(resources.models, function (resource) { 
		

		if(lastTag !== resource.get('tag')) {
		%>
	  <li class="nav-header" style="margin-top: 10px;">
    <%= resource.get('tag') %>
  </li>	
  <%
  };
  lastTag = resource.get('tag');
  %> 
	<li class="<%= selectedResource*1 === resource.id ? 'active' : '' %>" data-resource-id="<%= resource.id %>">
    <a href="<%= resources.username%>/<%= resources.api%>/version/<%= resources.version %>/resource/<%= resource.id%>">
			<%= resource.get('label') %>
	  </a>
	</li>
  <% }); %>
-->
			</ul>