<div class="menu-title">
  Overview
</div>
<div style="padding: 20px 0 20px 40px">
<h3><%= resource.get('label') %></h3>
<h4>Resource Path</h4>
<p><%= resource.get('resource') %>

<h4>Notes</h4>
<p><%= resource.get('description') %>Updates the specified Api with new details Fusce ac risus tellus. Praesent fermentum aliquam lectus sit amet tristique. In eget magna diam, non tristique neque. Sed fermentum, risus at posuere accumsan, velit sem hendrerit dolor, et sodales neque turpis id quam. In est turpis, feugiat ac tempor in, ultrices sit amet justo. Nullam risus quam, accumsan at dignissim et, mollis interdum urna.</p>


<div class="comments-container">aa</div>

</div>
