<style>
.request-list-container,
.resource-list-container {
	border-right: 1px solid #ccc;
}
.request-list-container .badge.notification-total,
.resource-list-container .badge.notification-total {
	float: right;
}
</style>
<h1>Some Api Name</h1>

<div class="row_fluid">
	<div class="span3">
		<button class="btn">New Resource</button>
		<div class="resource-list-container">
			<ul class="nav nav-list">
			 <li class="nav-header">
	    Users
		  </li>
			  <li>
			    <a href="#">
			      <i class="icon-book"></i>
			      Create a user<span class="badge badge-info">8</span>
			    </a>
			  </li> 
			  <li class="active">
			    <a href="#">
			      <i class="icon-book"></i>
			      Create a user
			    </a>
			  </li> 
			  <li class="">
			    <a href="#">
			      <i class="icon-book"></i>
			      Create a user<span class="badge badge-info">2</span>
			    </a>
			  </li>
			</ul>
		</div>
	</div>
	<div class="span3">

		<button class="btn">New Method</button>
		<div class="request-list-container">
			<ul class="nav nav-list">
			
			  <li>
			    <a href="#">
			      <i class="icon-book"></i>
			      Create a blank user<span class="badge badge-info">8</span>
			    </a>
			  </li>
			</ul>
	</div>
	</div>
	<div class="span6">
		descriptions
	</div>
</div>