<style>
.method-list-container,
.resource-list-container {
	border-right: 1px solid #ccc;
}
.method-list-container .badge.notification-total,
.resource-list-container .badge.notification-total {
	float: right;
}
.method-list-container  li a {
	position: relative;
}
.method-list-container .method-name {
	padding-left: 70px;
}
.method-list-container .badge-method-type {
	position: absolute;
}
.method-list-container .nav-list {
	padding-left: 0;
}
.user-profile-image {
	width: 60px;
	height: 60px;
	background: #ebebeb;
	float: left;
}
.comments-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.comments-list > li {
	margin-bottom: 20px;
}
.comment {
	float: left;
	width: 800px;
	margin-left: 20px;
}
.comment-username {
	font-weight: bold;
}
.comment-input {
	width: 100%;
	height: 77px !important;
}
th.request-body-header {
	background: #08C !important;
	color: #fff !important;
}
.activity-log {
	margin-top: 20px;
	list-style: none;
	background: #f0f0f0;
	padding: 10px;
	border: 1px solid #ccc;
}
.activity-log > li {
	margin-t
}
</style>
<style>
.matchpre td { 
border: 1px solid #000;
}
.table td {
	border-bottom: none;
}
</style>

<table class="table request-table">
      <thead>
        <tr>
          <th>Property Name</th>
          <th>Value</th>
          <th>Description</th>
          <th class="action-column">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr id="kind">
        <td><code>somearrays[]</code></td>
        <td><code class="apitype">array</code></td>
        <td>Type of resource. Always <code>compute#diskList</code>.</td>
        <td>
          <div class="btn-group">
          <button class="btn btn-primary">Action</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" data-bitly-type="bitly_hover_card">Edit</a></li>
            <li><a href="#" data-bitly-type="bitly_hover_card">Add a field</a></li>
            <li class="divider"></li>
            <li><a href="#" data-bitly-type="bitly_hover_card">Delete</a></li>
          </ul>
        </div>
      </td>
      </tr>
      <tr id="id">
        <td><code style="margin-left: 20px;">id</code></td>
        <td><code class="apitype">string</code></td>
        <td>Unique identifier for the resource; defined by the server (output only).</td>
        <td></td>
      </tr>
      <tr id="id">
        <td><code style="margin-left: 20px;">someobject{}</code></td>
        <td><code class="apitype">object</code></td>
        <td>Unique identifier for the resource; defined by the server (output only).</td>
        <td></td>
      </tr>
      <tr id="selfLink">
        <td><code style="margin-left: 40px;">selfLink</code></td>
        <td><code class="apitype">string</code></td>
        <td>Server-defined URL for this resource (output only).</td>
        <td></td>
      </tr>      
      <tr id="id">
        <td><code style="margin-left: 20px;">somestring</code></td>
        <td><code class="apitype">object</code></td>
        <td>Unique identifier for the resource; defined by the server (output only).</td>
        <td></td>
      </tr>
      <tr id="items">
        <td><code>items[]</code></td>
        <td><code class="apitype">list</code></td>
        <td>The persistent disk resources.</td>
        <td></td>
      </tr>
      <tr id="nextPageToken">
        <td><code>nextPageToken</code></td>
        <td><code class="apitype">string</code></td>
        <td>A token used to continue a truncated list request.</td>
        <td></td>
      </tr>
      </tbody>
    </table>