   <section class="method-section">
    <h3 class="comments-title">Comments</h3>
      {{#user}}
      <span class="markdown-help">Markdown help</span>
{{/user}}
      <div style="clear: both;"></div>
      {{#user}}
<div class="comment-box">
      <form class="" style="">

    <a href="{{login}}"><img class="comment-profile" src="http://www.gravatar.com/avatar/{{gravatar}}.jpg?d=wavatar" /></a>
  <div class="comment-text">
              <textarea placeholder="Add a comment" class="comment-input input-xlarge" id="input01" />
  </div>
  <a href="" style="display: none;" class="btn btn-regular add-comment">Add Comment</a>
      </form>
  <div style="clear: both;"></div>
</div>
{{/user}}
  
<div class="comments-list-container">why NO APPEAR</div>


  </div>
</section>