  <li>
    <a href="{{attributes.user.login}}"><img class="comment-profile" src="//www.gravatar.com/avatar/{{attributes.user.gravatar}}?d=wavatar" /></a>
    <div class="comment-content">
      <a href="{{attributes.user.login}}" class="comment-username">{{attributes.user.login}}</a>
      <p class='comment-message'>{{attributes.message}}</p>
      <p class="dateposted">about <span class="timeago" title="{{attributes.created_at}}"></span> ago</p>
    </div>
    <div style="clear: both;"></div>
  </li>