
    <h2 style="margin: 0;" class="">Comments</h2>
    <div style="margin: 0; padding: 0; border-top: 1px solid #ccc;" />

<div class="comment-box">
      <form class="" style="">

    <img class="comment-profile" src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61.jpg" />
  <div class="comment-text">
              <textarea placeholder="Add a comment" class="comment-input input-xlarge" id="input01" />
  </div>
  <a href="" style="display: none;" class="btn btn-regular add-comment">Add Comment</a>
      </form>
  <div style="clear: both;"></div>
</div>

  

<div class="comments-list-container">why NO APPEAR</div>


  </div>