
    <h2 style="margin: 0;" class="method-title">Comments</h2>
    <div style="margin: 0; padding: 0; border-top: 1px solid #eee;" />

<div class="comment-box">
      <form class="" style="">

  <div class="comment-profile">
    <img style="width: 60px;" src="http://www.gravatar.com/avatar/cff733cf90823edd218a834980379c61.jpg" />
  </div>
  <div class="comment-text">
              <textarea  class="comment-input input-xlarge" id="input01" />
  </div>
  <a href="" class="btn btn-green add-comment">Add Comment</a>
      </form>
  <div style="clear: both;"></div>
</div>
    <div style="margin: 0; padding: 0; border-top: 1px solid #eee;" />

  

<br />
<br />
<br />
<div class="comments-list-container">why NO APPEAR</div>


  </div>