
<ul class="comments">
<% _.each(notifications, function(notification) { %>
  <li>
    <a href="<%= notification.get('user').login %>"><img class="comment-profile" src="http://www.gravatar.com/avatar/<%= notification.get('user').gravatar %>?d=wavatar" /></a>
    <div class="comment-content">
      <a href="<%= notification.get('user').login %>" class="comment-username"><%= notification.get('user').login %></a>
      <p class='comment-message'><%= notification.get('message') %></p>
      <p class="timeago" title="<%= notification.get('created_at') %>"></p>
    </div>
    <div style="clear: both;"></div>




<!--
  {"user":{"epoch":"2012-07-29T01:34:04.337Z","login":"thomasdavis","publicize":false,"email":"thomasalwyndavis@gmail.com","gravatar":"cff733cf90823edd218a834980379c61"},"message":"asdasd","target":{"payload":{"status":411,"user":"thomasdavis","api":"ApiEngine","data":{"request":{"headers":[]},"response":[]},"version":1,"method":"PUT","label":"Update an Api","description":"Updates the specified Api with new details","resource":9},"type":"method"},"type":"comment","created_at":"2012-09-19T04:26:50.181Z"}

-->


  </li>

<% }); %>
